.nav-pills {
    display: flex;
    gap: 10px;
}

.nav-pills .nav-link {
    border-radius: 8px;
    border: none;
    color: var(--color-text);
    font-size: 12px;
    padding: 6px 12px;
}

.nav-pills .nav-link:hover {
    background-color: #e6e6e680;
    color: #000000;
}

.nav-pills .nav-link.active {
    background-color: #e6e6e6;
    color: #000000;
    font-weight: bold;
}

.table th {
    padding: 14px;
    font-size: 14px;
    border-bottom: 2px solid var(--color-background);
    background-color: var(--color-table-thead);
    color: var(--color-text);
    transition: all 0.9s ease;
}

.table td {
    padding: 14px;
    font-size: 14px;
    vertical-align: middle;
    border-bottom: 1px solid var(--color-background);
    background-color: var(--color-table-tbody);
    color: var(--color-text);
    transition: all 0.9s ease;
}