<div class="body">
    <div class="container " id="container">
        <div class="sign-in">
            <form action="">
                <h1>Sign In</h1>
                <!-- <div class="icons">
                    <a href="#" class="icon"><fa-icon [icon]="facebook"></fa-icon></a>
                    <a href="#" class="icon"><fa-icon [icon]="instagram"></fa-icon></a>
                    <a href="#" class="icon"><fa-icon [icon]="tiktok"></fa-icon></a>
                    <a href="#" class="icon"><fa-icon [icon]="youtube"></fa-icon></a>
                </div>
                <span>Or user email password</span> -->
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="#">Forgot password</a>
                <button>Sign In</button>
            </form>
            <div class="circle-sm-left"></div>
        </div>
        <div class="toogle-container">
            <div class="toogle">
                <div class="toogle-panel toogle-right">
                    <h1>QuizTech</h1>
                    <p>Welcome to Online Examination System</p>
                </div>
                <div class="circle-lg"></div>
                <div class="circle-md"></div>
                <div class="circle-sm"></div>

            </div>
        </div>
    </div>
</div>

