<div class="main-body">
    <div class="container">
        <h2>Your Exams</h2>
        <hr class="line">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5" *ngFor="let exam of examList">
                <div class="card" (click)="openPopupExam(exam.id)">
                    <div class="card-image">
                        <img [src]="exam.subject.image ? (urlService.subjectImageUrl + exam.subject.image) : urlService.subjectDefaultImageUrl"
                            alt="Default image for {{exam.subject.name}}">
                    </div>
                    <div class="card-content mb-3">
                        <p class="mb-1"><strong>{{exam.name}}</strong></p>
                        <p><strong>Code:</strong> {{exam.code}}</p>
                        <span class="content-time">
                            <i class="fa-regular fa-clock"></i>
                            {{ exam.startTime | date: 'HH:mm dd/MM/yyyy' }} - {{exam.endTime | date: 'HH:mm dd/MM/yyyy' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isPopupExam" class="popup-container">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <div class="popup-header">
            <span>{{ exam.subject.name }}</span>
            <span class="close-icon" (click)="closePopup()">&times;</span>
        </div>
        <div class="popup-body">
            <table class="popup-table">
                <tr>
                    <td><strong><span class="mdi mdi-clock me-1"></span>Time limit</strong></td>
                    <td>{{ exam.duration }} minutes</td>
                </tr>
                <tr>
                    <td><strong><span class="mdi mdi-calendar-blank me-1"></span>Start time</strong></td>
                    <td>{{ exam.startTime | date: 'dd/MM/yyyy HH:mm' }}</td>
                </tr>
                <tr>
                    <td><strong><span class="mdi mdi-calendar-blank me-1"></span>End time</strong></td>
                    <td>{{ exam.endTime | date: 'dd/MM/yyyy HH:mm' }}</td>
                </tr>
                <tr>
                    <td><strong><span class="mdi mdi-alert-circle-outline me-1"></span>Number of questions</strong></td>
                    <td>{{ exam.totalQuestion }}</td>
                </tr>
                <tr>
                    <td><strong><span class="mdi mdi-trophy-outline me-1"></span>Maximum score</strong></td>
                    <td>{{ exam.maxScore }}</td>
                </tr>
            </table>
        </div>
        <div class="popup-footer text-center">
            <button (click)="startExam(exam.id)" class="btn btn-primary button">Start the Exam</button>
        </div>
    </div>
</div>