<div class="content-wrapper">
    <h4 *ngIf="_classId==0">Student (No Class)</h4>
    <h4 *ngIf="_classId!=0">{{class}}/Student</h4>
    <hr class="line">

    <!-- Bottom Actions (Create and Export) -->
    <div class="bottom-actions">
        <div>
            <a class="btn btn-primary button create">Create</a>
            <a *ngIf="_classId==0" (click)="showMovePopup()" class="btn btn-primary button move" style="margin-left: 5px;">Move<span class="mdi mdi-arrow-right-bold"
                    style="padding-left: 4px;"></span></a>
        </div>
        <div>
            <a href="" class="btn btn-primary button" style="margin-right: 5px;"><span
                    class="mdi mdi-file-export icon"></span>Export Excel</a>
            <a href="" class="btn btn-primary button"><span class="mdi mdi-file-export icon"></span>Export PDF</a>
        </div>
    </div>

    <table class="table" id="example">
        <thead>
            <tr>
                <th>STT</th>
                <th>Roll Number</th>
                <th>Roll Portal</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>

<div *ngIf="isPopupUpdate" class="modal-backdrop" (click)="closePopup($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span>Update Student</span>
            <span class="close-icon" (click)="closePopup()">&times;</span>
        </div>
        <div class="modal-body">
            <form method="post" (ngSubmit)="updateStudent()" class="form-create">
                <div class="form-row">
                    <div class="form-column">
                        <div class="form-group">
                            <label for="fullName" class="text-popup">Full Name:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdResponse.userResponse.fullName" name="stdResponse.userResponse.fullName"
                                placeholder="Enter Full Name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-popup">Email:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdResponse.userResponse.email" name="stdResponse.userResponse.email"
                                placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="dob" class="text-popup">DOB:</label>
                            <input type="date" class="form-control" [(ngModel)]="stdResponse.userResponse.dob" name="stdResponse.userResponse.dob">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber" class="text-popup">Phone Number:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdResponse.userResponse.phoneNumber"
                                name="stdResponse.userResponse.phoneNumber" placeholder="Enter Phone Number">
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-group">
                            <label for="address" class="text-popup">Address:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdResponse.userResponse.address" name="stdResponse.userResponse.address"
                                placeholder="Enter Address">
                        </div>
                        <div class="form-group">
                            <label for="gender" class="text-popup">Gender:</label>
                            <select class="form-control" [(ngModel)]="stdResponse.userResponse.gender" name="stdResponse.userResponse.gender">
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="rollNumber" class="text-popup">Roll Number:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdResponse.rollNumber"
                                name="stdRequest.rollNumber" placeholder="Enter Roll Number">
                        </div>
                        <div class="form-group">
                            <label for="rollPortal" class="text-popup">Roll Portal:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdResponse.rollPortal"
                                name="stdRequest.rollPortal" placeholder="Enter Roll Portal">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary button">Save</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isPopupCreate" class="modal-backdrop" (click)="closePopup($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span>Create Student</span>
            <span class="close-icon" (click)="closePopup()">&times;</span>
        </div>
        <div class="modal-body">
            <form method="post" (ngSubmit)="createStudent()" class="form-create">
                <div class="form-row">
                    <div class="form-column">
                        <div class="form-group">
                            <label for="fullName" class="text-popup">Full Name:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdRequest.userRequest.fullName" name="stdRequest.userRequest.fullName"
                                placeholder="Enter Full Name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-popup">Email:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdRequest.userRequest.email" name="stdRequest.userRequest.email"
                                placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="dob" class="text-popup">DOB:</label>
                            <input type="date" class="form-control" [(ngModel)]="stdRequest.userRequest.dob" name="stdRequest.userRequest.dob">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber" class="text-popup">Phone Number:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdRequest.userRequest.phoneNumber"
                                name="stdRequest.userRequest.phoneNumber" placeholder="Enter Phone Number">
                        </div>
                    </div>
                    <div class="form-column">
                        <div class="form-group">
                            <label for="address" class="text-popup">Address:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdRequest.userRequest.address" name="stdRequest.userRequest.address"
                                placeholder="Enter Address">
                        </div>
                        <div class="form-group">
                            <label for="gender" class="text-popup">Gender:</label>
                            <select class="form-control" [(ngModel)]="stdRequest.userRequest.gender" name="stdRequest.userRequest.gender">
                                <option value=1>Male</option>
                                <option value=2>Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="rollNumber" class="text-popup">Roll Number:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdRequest.rollNumber"
                                name="stdRequest.rollNumber" placeholder="Enter Roll Number">
                        </div>
                        <div class="form-group">
                            <label for="rollPortal" class="text-popup">Roll Portal:</label>
                            <input type="text" class="form-control" [(ngModel)]="stdRequest.rollPortal"
                                name="stdRequest.rollPortal" placeholder="Enter Roll Portal">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary button">Save</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isPopupMove" class="modal-backdrop" (click)="closePopup($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span>Move Student to Class</span>
            <span class="close-icon" (click)="closeMove()">&times;</span>
        </div>
        <div class="modal-body">
            <form method="post" (ngSubmit)="moveStudent()" class="form-create">
                <div class="form-group">
                    <label for="roleId" class="text-popup">Class:</label>
                    <!-- [(ngModel)]="roleId" name="roleId" -->
                    <select class="form-control" [(ngModel)]="classId" name="classId">
                        <!-- <option value=1>C2206I</option>
                        <option value=2>C2208G</option>
                        <option value=3 selected>C2209I</option> -->
                        <option [value]="data.id" *ngFor="let data of classes">{{data.name}}</option>
                    </select>
                </div>
                <button [disabled]="userIds.length==0" type="submit" class="btn btn-primary button">Move</button>
            </form>
        </div>
    </div>
</div>