<div class="header" [ngClass]="{'header-collapsed': isSidebarCollapsed}">
    <div class="toggle-switch">
        <label class="switch">
            <input type="checkbox" id="buttonSwitch" (click)="app.toggleTheme()">
            <span class="slider"></span>
        </label>
    </div>
    <div class="d-flex" (click)="app.menuToggle()">
        <div class="user-section">
            <div class="user-info">
                <span class="user-name">{{ userName }}</span>
                <span class="user-role">{{ userRole }}</span>
            </div>
            <span class="mdi mdi-account-outline icon"></span>
        </div>
        <div class="menu" id="menuToggle">
            <ul>
                <li>
                    <i class="fa-regular fa-circle-user"></i><a [routerLink]="'profile'">My profile</a>
                </li>
                <li>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i><a (click)="onLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="sidebar" [ngClass]="{'sidebar-collapsed': isSidebarCollapsed}">
    <div class="sidebar-toggle" (click)="toggleSidebar()">
        <span class="mdi" [ngClass]="isSidebarCollapsed ? 'mdi-arrow-right' : 'mdi-arrow-left'"></span>
    </div>
    <div class="block-wrapper" *ngIf="!isSidebarCollapsed">
        <img class="block-image" alt="" src="../../../../img/logo.png" />
    </div>
    <a [routerLink]="'./'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link">
        <span class="mdi mdi-chart-bar icon"></span>
        <span class="link-text" *ngIf="!isSidebarCollapsed">Dashboard</span>
    </a>
    <a [routerLink]="'subject'" *ngIf="isActive(['ADMIN','DIRECTOR'])" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link">
        <span class="mdi mdi-book-open-variant icon"></span>
        <span class="link-text" *ngIf="!isSidebarCollapsed">Subject</span>
    </a>
    <a [routerLink]="'class'" *ngIf="isActive(['ADMIN','DIRECTOR','SRO'])" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link">
        <span class="mdi mdi-home-outline icon"></span>
        <span class="link-text" *ngIf="!isSidebarCollapsed">Class</span>
    </a>
    <a [routerLink]="'student'" *ngIf="isActive(['ADMIN','SRO'])" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link">
        <span class="mdi mdi-account-multiple icon"></span>
        <span class="link-text" *ngIf="!isSidebarCollapsed">Student</span>
    </a>
    <a [routerLink]="'exam'" *ngIf="isActive(['ADMIN','DIRECTOR','SRO'])" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link">
        <span class="mdi mdi-monitor icon"></span>
        <span class="link-text" *ngIf="!isSidebarCollapsed">Exam</span>
    </a>
    <a [routerLink]="'authorize'" *ngIf="isActive(['ADMIN','DIRECTOR'])" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link">
        <span class="mdi mdi-clipboard-outline icon"></span>
        <span class="link-text" *ngIf="!isSidebarCollapsed">Authorize</span>
    </a>
    <a [routerLink]="'employee'" *ngIf="isActive(['ADMIN','DIRECTOR'])" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-link active">
        <span class="mdi mdi-account-multiple icon"></span>
        <span class="link-text" *ngIf="!isSidebarCollapsed">Employee</span>
    </a>
</div>

<router-outlet class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': isSidebarCollapsed}">
</router-outlet>

<footer class="footer" [ngClass]="{'footer-collapsed': isSidebarCollapsed}">
    <b>Copyright © 2024</b>
</footer>