<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
</head>

<body>
    <nav class="navbar light" id="nav-id">
        <div class="navbar-brand">
            <img src="../../../../../../img/logo.png" alt="Logo">
        </div>
        <div class="navbar-container">
            <ul class="navbar-menu">
                <li><a href="#" class="nav-link">Home</a></li>
                <li><a href="#" class="nav-link">Exam</a></li>
                <li><a href="#" class="nav-link">About Us</a></li>
                <li><a href="#" class="nav-link">Contact</a></li>
            </ul>
            <div class="toggle-switch">
                <div class="btn">
                    <input type="checkbox" id="buttonSwitch">
                    <label>Light</label>
                </div>
            </div>
        </div>
        <div class="navbar-right">
            <div class="user-greeting">
                <span>Hi, Huy</span>
                <img height="30px" width="30px" src="../../../../../../img/user.png">
            </div>
        </div>
    </nav>
    <script>
        let darkModeEnabled = false;
        const buttonSwitch = document.getElementById('buttonSwitch');
        const nav = document.getElementById("nav-id");
        buttonSwitch.addEventListener("click", function () {
            darkModeEnabled = !darkModeEnabled;
            if (darkModeEnabled) {
                nav.classList.remove("light");
                nav.classList.add("dark");
            }
            else {
                nav.classList.remove("dark");
                nav.classList.add("light");
            }
        });
    </script>
</body>

</html>