.navbar {
    color: var(--color-text);
    background-color: var(--color-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-nav {
    margin-left: 20px;
}

.navbar-brand img {
    height: 40px;
    margin-left: 14px;
}

.navbar-nav .nav-link {
    margin-left: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    font-size: 14px;
}

.nav-item .active {
    color: #000;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

.user-info i {
    font-size: 24px;
    margin-left: 8px;
}

.user-info:hover {
    cursor: pointer;
}

/* toogle-switched */


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
    margin-right: 100px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    width: 74px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-switch);
    transition: 0.4s;
    border-radius: 30px;
    box-shadow: var(--color-switch-shadow);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.6em;
    width: 1.6em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    transition: 0.4s;
    transform: var(--transform-switch-button);
    background-color: var(--color-switch-button);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider:after {
    content: var(--content-switch-button);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
    transition: opacity 0.4s;
    opacity: 1;
}

/* menu-user-dropdown */
.d-flex .menu {
    position: absolute;
    top: 60px;
    right: -10px;
    background: var(--color-menu);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.d-flex .menu.active {
    visibility: visible;
    opacity: 1;
}

.d-flex .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: var(--color-menu);
    transition: 0.5s;
    transform: rotate(45deg);
}

.d-flex .menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.d-flex .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.d-flex .menu ul li:hover img {
    opacity: 1;
}

.d-flex .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
    transition: 0.5s;
}

.d-flex .menu ul li i {
    width: 25px;
    font-size: 25px;
    margin-right: 10px;
    color: var(--color-text);
    transition: 0.5s;
}

.d-flex .menu ul li:hover a,
.d-flex .menu ul li:hover i {
    color: #ff5d94;
}

@media (min-width: 820px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

@media (min-width: 400px) {
    .r-5{
        position: absolute;
        right: 50px;
        display: flex !important;
    }
}
.r-5:not(.show) {
    display: none;
}