/* You can add global styles to this file, and also import other style files */
.body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

/* mark */
/* .mt-6 {
    padding-top: 50px;
}
.tab-content .table {
    margin-top: 20px;
}
.nav-pills .nav-link.active {
    background-color: #E6E6E6;
    color: black;
    font-weight: bold;
}
.nav-link {
    color: var(--color-text);
}
.table th,
.table td {
    text-align: center;
    border-right: none;
    border-left: none;
}
.table th {
    background-color: var(--color-nav);
}

.table td {
    background-color: var(--color-card);
    color: var(--color-text);
}
hr {
    border-top: 2px solid var(--color-text);
    margin-top: 0;
} */


/* region switch light-dark */

:root, [QuizTech-theme=light] {
    --color-background: #ffffff;
    --color-text: #000000;
    --color-card: #ffffff;
    --color-title: #ffc107;
    --color-nav: #FFEDED;
    /* menu user */
    --color-menu: #f3f3f3;
    
    /* profile user */
    --color-change-password-form: #ffe4e4;

    /* switch button light-dark */
    --content-switch-button: "Light";
    --color-switch: #d9d9d9;
    --color-switch-button: #ffffff;
    --color-switch-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    .slider:after {
        right: 0.5em;
    }
    
}

[QuizTech-theme=dark] {
    --color-background: #333;
    --color-text: #eeeeee;
    --color-card: #35393f;
    --color-title: #35393f;
    --color-nav: #e6e6e6;

    /* menu user */
    --color-menu: #25292d;
    
    /* profile user */
    --color-change-password-form: #35393f;

    /* switch button light-dark */
    --content-switch-button: "Dark";
    --color-switch: #35393f;
    --color-switch-button: #25292d;
    --color-switch-shadow: 0 0 1px #25292d;
    --transform-switch-button: translateX(2.3em);
    .slider:after {
        left: 0.5em;
    }

    /* mark user table */

}

/* endregion switch light-dark */