<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': admin.isSidebarCollapsed}">
    <h4>{{_subjectName}} / Question</h4>
    <hr class="line">

    <!-- Bottom Actions (Create and Export) -->
    <div class="bottom-actions">
        <div>
            <a class="button button-create" [routerLink]="'../questionForm'"><span class="mdi mdi-plus icon"></span>Create</a>
        </div>
        <div>
            <a (click)="exportPDF()" class="button button-pdf"><span class="mdi mdi-file-pdf icon"></span>Export PDF</a>
        </div>
    </div>

    <table class="table" id="example">
        <thead>
            <tr>
                <th>STT</th>
                <th>Question</th>
                <th>Chapter</th>
                <th>Level</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>