/* Body */
.content-wrapper {
    padding: 20px;
    margin: 80px 0 60px 200px;
    min-height: 80vh;
    overflow-x: hidden;
}

.line {
    margin-top: 0;
}

.bottom-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.button {
    font-size: 15px;
    background-color: #aa1210;
    border: none;
    border-radius: 15px;
}

.button:active {
    background-color: #8f0a0a;
}

.bottom-actions .icon {
    line-height: normal;
    margin-right: 8px;
}
