/* Body */
.content-wrapper {
    padding: 0 20px;
    margin: 20px 0 60px 150px;
    min-height: 80vh;
    overflow-x: hidden;
    transition: margin-left 0.3s ease;
}

.content-wrapper-collapsed {
    margin-left: 30px;
}

.line {
    margin-top: 0;
}

.bottom-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.button {
    font-size: 12px;
    background-color: #aa1210;
    border: none;
    border-radius: 6px;
}

.button:active {
    background-color: #8f0a0a;
}

.bottom-actions .icon {
    line-height: normal;
    margin-right: 8px;
}
