<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': admin.isSidebarCollapsed}">
    <h4>{{_subjectName}} / Question</h4>
    <hr class="line">

    <!-- Bottom Actions (Create and Export) -->
    <div class="bottom-actions">
        <div>
            <a class="button button-create" (click)="navigateToAddQuestion()"><span class="mdi mdi-plus icon"></span>Create</a>
        </div>
        <div>
            <a class="button button-pdf" (click)="exportPDF()"><span class="mdi mdi-file-pdf icon"></span>Export PDF</a>
        </div>
    </div>

    <table class="table" id="example">
        <thead>
            <tr>
                <th style="width: 10%;">STT</th>
                <th style="width: 50%;">Question</th>
                <th style="width: 20%;">Chapter</th>
                <th style="width: 10%;">Level</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>