.order-card {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-card h6,
.order-card h2 {
    margin: 0;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-card);
    color: var(--color-text);
    transition: all 0.9s ease;
}

.card-body {
    align-content: center;
}

.chart-container {
    margin-bottom: 30px;
    min-height: 350px;
}

.fas, .feather {
    font-size: 16px;
}

.card .card-header .title {
    margin: 0;
}

.card .card-body .form-group-row {
    display: flex;
    align-items: center;
}

.card .card-body .form-group-row .select-field {
    width: 200%;
    cursor: pointer;
}

.card .card-body .search-container {
    position: relative;
    margin-left: auto;
    width: 280px;
}

.card .card-body .search-container .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.card .tab-content .table tr th,
.card .tab-content .table tr td {
    background-color: var(--color-card);
    color: var(--color-text);
    transition: all 0.9s ease;
}

/* pagination */
.pagination-container {
    display: flex;
    justify-content: center;
}

pagination-controls {
    display: inline-block;
}

.pagination-controls .ngx-pagination {
    margin: 0;
}

.pagination-controls .ngx-pagination .current {
    font-weight: bold;
    color: #aa1210; /* Màu cho trang hiện tại */
}

.pagination-controls .ngx-pagination .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}