<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': home.isSidebarCollapsed}">
    <div class="container">
        <div class="row">
            <!-- order-card start -->
            <div class="col-md-3 col-xl-3 mb-3">
                <div class="order-card" style="background-color: #4099ff;">
                    <h6 class="text-white">Exam</h6>
                    <h2 class="text-end text-white">
                        <span class="mdi mdi-library-books float-start"></span>
                        <span>21</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 mb-3">
                <div class="order-card" style="background-color: #2ed8b6;">
                    <h6 class="text-white">Class</h6>
                    <h2 class="text-end text-white">
                        <span class="mdi mdi-home-outline float-start"></span>
                        <span>15</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 mb-3">
                <div class="order-card" style="background-color: #ffb64d;">
                    <h6 class="text-white">Student</h6>
                    <h2 class="text-end text-white">
                        <span class="mdi mdi-account float-start"></span>
                        <span>85</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 mb-3">
                <div class="order-card" style="background-color: #ff5370;">
                    <h6 class="text-white">Employee</h6>
                    <h2 class="text-end text-white">
                        <span class="mdi mdi-account-card-details float-start"></span>
                        <span>12</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="line-chart">
                <div cardTitle="Unique Visitor">
                    <apx-chart [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
                        [stroke]="chartOptions.stroke" [series]="chartOptions.series" [xaxis]="chartOptions.xaxis"
                        [colors]="chartOptions.colors" [fill]="chartOptions.fill" [markers]="chartOptions.markers"
                        [yaxis]="chartOptions.yaxis"></apx-chart>
                </div>
            </div>
            <div class="">
                <div class="row">
                    <div class="chart-container ms-3 mb-3">
                        <div class="col-auto">
                            <span>Customers 1</span>
                        </div>
                        <div class="col text-end">
                            <h2 class="mb-0">826</h2>
                            <span class="text-c-green">
                                8.2%
                                <i class="feather icon-trending-up ms-1"></i>
                            </span>
                        </div>
                        <apx-chart [series]="chartOptions_1.series!" [chart]="chartOptions_1.chart!"
                            [stroke]="chartOptions_1.stroke!" [dataLabels]="chartOptions_1.dataLabels!"
                            [labels]="chartOptions_1.labels!" [legend]="chartOptions_1.legend!"
                            [colors]="chartOptions_1.colors!" [fill]="chartOptions_1.fill!"
                            [grid]="chartOptions_1.grid!" [plotOptions]="chartOptions_1.plotOptions!"
                            [tooltip]="chartOptions_1.tooltip!"></apx-chart>
                        <div class="row mt-3 text-center">
                            <div class="col">
                                <h3 class="m-0">
                                    <i class="fas fa-circle f-10 m-r-5 text-success"></i>
                                    674
                                </h3>
                                <span class="ms-3">New</span>
                            </div>
                            <div class="col">
                                <h3 class="m-0">
                                    <i class="fas fa-circle text-primary f-10 m-r-5"></i>
                                    182
                                </h3>
                                <span class="ms-3">Return</span>
                            </div>
                        </div>
                    </div>
                    <div class="chart-container ms-3 mb-3">
                        <div cardClass="bg-primary">
                            <div class="col-auto">
                                <span>Customers 2</span>
                            </div>
                            <div class="col text-end">
                                <h2 class="mb-0">826</h2>
                                <span class="text-white">
                                    8.2%
                                    <i class="feather icon-trending-up ms-1"></i>
                                </span>
                            </div>
                        </div>
                        <apx-chart [series]="chartOptions_2.series!" [chart]="chartOptions_2.chart!"
                            [stroke]="chartOptions_2.stroke!" [dataLabels]="chartOptions_2.dataLabels!"
                            [labels]="chartOptions_2.labels!" [legend]="chartOptions_2.legend!"
                            [colors]="chartOptions_2.colors!" [fill]="chartOptions_2.fill!"
                            [grid]="chartOptions_2.grid!" [plotOptions]="chartOptions_2.plotOptions!"
                            [tooltip]="chartOptions_2.tooltip!"></apx-chart>
                        <div class="row mt-3 text-center">
                            <div class="col">
                                <h3 class="m-0">
                                    <i class="fas fa-circle f-10 m-r-5 "></i>
                                    674
                                </h3>
                                <span class="ms-3">New</span>
                            </div>
                            <div class="col">
                                <h3 class="m-0 ">
                                    <i class="fas fa-circle f-10 m-r-5"></i>
                                    182
                                </h3>
                                <span class="ms-3">Return</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account-section start -->
    </div>
    <ng-scrollbar class="ms-3 me-3" visibility="hover" track="all">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <span>
                            Date
                            <a class="help"><i class="feather f-16"></i></a>
                        </span>
                    </th>
                    <th>
                        <span>
                            Title
                            <a class="help"><i class="feather f-16"></i></a>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08-11-2016</td>
                    <td>
                        Title
                        <div class="mt-1">
                            abc
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>15-10-2016</td>
                    <td>
                        Value
                        <div class="mt-1">
                            xyz
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-scrollbar>
</div>