<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': admin.isSidebarCollapsed}">
    <h4>Profile</h4>
    <hr class="line">

    <div class="d-flex profile-content">
        <div class="profile-header">
            <img src="../../../../../img/profile.png" class="profile-img" alt="Profile Image">
            <h3>{{ profile.fullName }}</h3>
            <p>{{ profile.email }}</p>
            <div class="d-flex w-max m-auto">
                <div>
                    <a (click)="showEditForm()" class="btn btn-primary button me-2">Edit</a>
                </div>
                <div>
                    <a (click)="showPasswordForm()" class="btn btn-secondary button">Change Password</a>
                </div>
            </div>
        </div>
        <div class="content infor" id="infor">
            <div class="form-group d-flex">
                <label for="dob" class="label-title">Date Of Birth</label>
                <p>{{ convertDateFormat(profile.dob) }}</p>
            </div>
            <div class="form-group d-flex">
                <label for="gender" class="label-title">Gender</label>
                <P>{{ profile.gender == 1 ? "Male" : "Female" }}</P>
            </div>
            <div class="form-group d-flex">
                <label for="phone" class="label-title">Phone Number</label>
                <p>{{ profile.phoneNumber }}</p>
            </div>
            <div class="form-group d-flex">
                <label for="address" class="label-title">Address</label>
                <p>{{ profile.address }}</p>
            </div>
        </div>
        <form (ngSubmit)="updateProfile()">
            <div class="content form-infor" id="form-infor">
                <div class="form-group d-flex">
                    <label for="dob" class="label-title">Date Of Birth</label>
                    <input type="date" class="form-control" [(ngModel)]="profileForm.dob" name="dob">
                </div>
                <div class="form-group d-flex">
                    <label for="gender" class="label-title">Gender</label>
                    <div class="d-flex w-100">
                        <div class="form-check me-2">
                            <input type="radio" class="form-check-input" [(ngModel)]="profileForm.gender" [value]="1" name="gender" id="male">
                            <label for="male" class="form-check-label">Male</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" [(ngModel)]="profileForm.gender" [value]="2" name="gender" id="female">
                            <label for="female" class="form-check-label">Female</label>
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex">
                    <label for="phoneNumber" class="label-title">Phone Number</label>
                    <input type="text" class="form-control" [(ngModel)]="profileForm.phoneNumber" name="phoneNumber">
                </div>
                <div class="form-group d-flex">
                    <label for="address" class="label-title">Address</label>
                    <input type="text" class="form-control" [(ngModel)]="profileForm.address" name="address">
                </div>
                <div class="form-group d-flex">
                    <label for="" class="label-title"></label>
                    <div class="w-100">
                        <button type="submit" class="btn btn-primary button me-2">Save</button>
                        <a (click)="showInformation()" class="btn btn-secondary button me-2">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
        <form (submit)="chagePassword()">
            <div class="content change-password-form" id="change-password-form">
                <div class="form-group d-flex">
                    <label for="old-pword" class="label-pword">Current Password</label>
                    <div class="d-flex form-control">
                        <input type="password" class="w-95 border-none" [(ngModel)]="currentPassword" name="oldPassword"
                            id="currentPassword" placeholder="Enter current password">
                        <div class="toggle-password eye" (click)="visiblePassword('currentPassword', 'icon1')" id="togglecurrentPassword">
                            <i class="fa-regular fa-eye-slash" id="icon1"></i>
                        </div>
                    </div>

                </div>
                <div class="form-group d-flex">
                    <label for="new-pword" class="label-pword">New Password</label>
                    <div class="d-flex form-control">
                        <input type="password" class="w-95 border-none" [(ngModel)]="newPassword" name="newPassword"
                            id="newPassword" placeholder="Enter new password">
                        <div class="toggle-newPassword eye" (click)="visiblePassword('newPassword', 'icon2')" id="togglenewPassword">
                            <i class="fa-regular fa-eye-slash" id="icon2"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex">
                    <label for="confirm-pword" class="label-pword">Confirm Password</label>
                    <div class="d-flex form-control">
                        <input type="password" class="w-95 border-none" [(ngModel)]="confirmPassword" name="confirmPassword"
                            id="confirmPassword" placeholder="Confirm new password">
                        <div class="toggle-confirmPassword eye" (click)="visiblePassword('confirmPassword', 'icon3')" id="toggleconfirmPassword">
                            <i class="fa-regular fa-eye-slash" id="icon3"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex">
                    <label for="" class="label-pword"></label>
                    <div class="w-100 d-flex">
                        <button type="submit" class="btn btn-primary button me-2">Change Password</button>
                        <a (click)="showInformation()" class="btn btn-secondary button me-2">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>