<div class="profile-container">
    <!-- Profile Title -->
    <div>
        <h4 class="profile-title">
            Profile
        </h4>
        <hr class="line">
    </div>
    <div class="d-flex profile-content">
        <div class="profile-header">
            <img src="https://via.placeholder.com/100" class="profile-img" alt="Profile Image">
            <h3>{{user.fullName}}</h3>
            <p>{{user.email}}</p>
            <div class="d-flex w-max m-auto">
                <div>
                    <a (click)="showEditForm()" class="btn btn-primary button me-2">Edit</a>
                </div>
                <div>
                    <a (click)="showPasswordForm()" class="btn btn-secondary button">Change Password</a>
                </div>
            </div>
        </div>
        <div class="content infor" id="infor">
            <div class="form-group d-flex">
                <label for="dob" class="label-title">Date Of Birth</label>
                <p>{{user.dob}}</p>
            </div>
            <div class="form-group d-flex">
                <label for="gender" class="label-title">Gender</label>
                <P>{{user.gender == 1 ? "Male" : "Female"}}</P>
            </div>
            <div class="form-group d-flex">
                <label for="phone" class="label-title">Phone Number</label>
                <p>{{user.phoneNumber}}</p>
            </div>
            <div class="form-group d-flex">
                <label for="address" class="label-title">Address</label>
                <p>{{user.address}}</p>
            </div>
        </div>
        <form (ngSubmit)="edit()" method="post">
            <div class="content form-infor" id="form-infor">
                <div class="form-group d-none">
                    <label for="phone" class="label-title">FullName</label>
                    <input type="text" name="fullName" [(ngModel)]="fullName" class="form-control" hidden>
                </div>
                <div class="form-group d-none">
                    <label for="phone" class="label-title">Email</label>
                    <input type="text" name="email" [(ngModel)]="email" class="form-control" hidden>
                </div>
                <div class="form-group d-flex">
                    <label for="dob" class="label-title">Date Of Birth</label>
                    <input type="date" name="dob" [ngModel]="dob | date:'yyyy-MM-dd'" (ngModelChange)="dob = $event"
                        class="form-control">
                </div>
                <div class="form-group d-flex">
                    <label for="gender" class="label-title">Gender</label>
                    <div class="d-flex w-100">
                        <div class="form-check me-2">
                            <input type="radio" name="gender" value=1 [checked]="gender == 1"
                                (change)="onGenderSelectionChange(1)" class="form-check-input">
                            <label for="" class="form-check-label">Male</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="gender" value=0 [checked]="gender == 0"
                                (change)="onGenderSelectionChange(0)" class="form-check-input">
                            <label for="" class="form-check-label">Female</label>
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex">
                    <label for="phone" class="label-title">Phone Number</label>
                    <input type="text" name="phone" [(ngModel)]="phoneNumber" class="form-control">
                </div>
                <div class="form-group d-flex">
                    <label for="address" class="label-title">Address</label>
                    <input type="text" name="address" [(ngModel)]="address" class="form-control">
                </div>
                <div class="form-group d-flex">
                    <label for="" class="label-title"></label>
                    <div class="w-100">
                        <button type="submit" class="btn btn-primary button me-2">Save</button>
                        <a (click)="showInformation()" class="btn btn-secondary button me-2">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
        <form (submit)="chagePassword()">
            <div class="content change-password-form" id="change-password-form">
                <div class="form-group d-flex">
                    <label for="old-pword" class="label-pword">Current Password</label>
                    <div class="d-flex form-control">
                        <input type="password" name="oldPassword" [(ngModel)]="oldPassword" class="w-95 border-none" id="currentPassword"
                            placeholder="Enter current password">
                        <div class="toggle-password eye" id="togglecurrentPassword"
                            (click)="visiblePassword('currentPassword', 'icon1')"><i id="icon1" class="fa-regular fa-eye-slash"></i>                           
                        </div>
                    </div>

                </div>
                <div class="form-group d-flex">
                    <label for="new-pword" class="label-pword">New Password</label>
                    <div class="d-flex form-control">
                        <input type="password" name="newPassword" class="w-95 border-none" [(ngModel)]="newPassword" id="newPassword"
                            placeholder="Enter new password">
                        <div class="toggle-newPassword eye" id="togglenewPassword"
                            (click)="visiblePassword('newPassword', 'icon3')">
                            <i id="icon3" class="fa-regular fa-eye-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex">
                    <label for="confirm-pword" class="label-pword">Confirm Password</label>
                    <div class="d-flex form-control">
                        <input type="password" name="confirmPassword" class="w-95 border-none" [(ngModel)]="confirmPassword" id="confirmPassword" 
                            placeholder="Confirm new password">
                        <div class="toggle-confirmPassword eye" id="toggleconfirmPassword"
                            (click)="visiblePassword('confirmPassword', 'icon2')"><i id="icon2" class="fa-regular fa-eye-slash"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="form-group d-flex">
                    <label for="" class="label-pword"></label>
                    <div class="w-100 d-flex">
                        <button type="submit" class="btn btn-primary button me-2">Change Password</button>
                        <a (click)="showInformation()" class="btn btn-secondary button me-2">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>