<div class="main-body">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="../../../../../img/banner2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="../../../../../img/banner.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="../../../../../img/banner1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container py-5" id="aboutus">
        <div class="title">
            <p class="text-center mb-4">What makes Aptech QuizExam a good choice?</p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-5 text-center ">
            <div class="col">
                <div class="d-flex flex-column align-items-center content1">
                    <span class="icon" style="color: #EEF21E;"><i class="fa-regular fa-face-smile"></i></span>
                    <h2 class="h4 mt-2">Friendly and easy to use</h2>
                    <p class="text-muted-foreground">The interface is smartly designed and visually appealing, making it
                        easy for you to use proficiently and review effectively.</p>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column align-items-center content1">
                    <span class="icon" style="color: #7B8FFB;"><i class="fa-solid fa-wifi"></i></span>
                    <h2 class="h4 mt-2">Learn anytime, anywhere</h2>
                    <p class="text-muted-foreground">Prepare for exams from any location and at any time, as long as you
                        have a computer, phone, tablet, and an internet connection.</p>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column align-items-center content1">
                    <span class="icon" style="color: #32CD32;"><i class="fa-solid fa-book"></i></span>
                    <h2 class="h4 mt-2">Question bank</h2>
                    <p class="text-muted-foreground">A vast and varied pool of exam questions from different schools
                        offers limitless study resources.</p>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column align-items-center content1">
                    <span class="icon" style="color: #FF3A3A;"><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                    <h2 class="h4 mt-2">Knowledge sharing</h2>
                    <p class="text-muted-foreground">Create quality exam questions and share valuable knowledge with
                        everyone, so that all can study and prepare for exams effectively.</p>
                </div>
            </div>
        </div>
        <div class="title1">
            <p class="text-center mb-4">Outstanding Features</p>
        </div>
        <div class="g-4">
            <div class="bg-card1 row ">
                <div class="content col-md-6">
                    <img src="../../../../../img/content1.jpg" alt="">
                </div>
                <div class="content col-md-6">
                    <div>
                        <h3>Create exams and take them for free</h3>
                        <p class="text-muted-foreground1">Once you log in, users can create and take exams for free, quickly, and efficiently.</p>
                    </div>
                </div>
            </div>
            <div class="bg-card1 row ">
                <div class="content col-md-6">
                    <div>
                        <h3>Quickly share exam</h3>
                        <p class="text-muted-foreground1">Share exam questions with clubs, groups, and classes to study and progress together.</p>
                    </div>
                </div>
                <div class="content col-md-6">
                    <img src="../../../../../img/content2.jpg" alt="">
                </div>
            </div>
            <div class="bg-card1 row ">
                <div class="content col-md-6">
                    <img src="../../../../../img/content3.jpg" alt="">
                </div>
                <div class="content col-md-6">
                    <div>
                        <h3>Randomize questions</h3>
                        <p class="text-muted-foreground1">Enables smart and effective studying, avoiding rote
                            memorization
                            or selecting answers because they seem familiar.</p>
                    </div>
                </div>
            </div>
            <div class="bg-card1 row ">
                <div class="content col-md-6">
                    <div>
                        <h3>Configure scoring scales and exam duration</h3>
                        <p class="text-muted-foreground1">Enable users to configure scoring systems and exam timing to
                            suit
                            their requirements.</p>
                    </div>
                </div>
                <div class="content col-md-6">
                    <img src="../../../../../img/content4.jpg" alt="">
                </div>
            </div>
        </div>
        <h2 class="h4">Feedback from students and teachers</h2>
        <div class="mt-5 bg-card">
            <div class=" align-items-center ">
                <span class="text-warning">★★★★★</span>
                <p class="mt-2 h3">Good</p>
                <p class="mb-2">Dễ sử dụng, phù hợp cho cả học sinh và giáo viên. Điểm cộng là giao diện thân thiện và phản hồi nhanh.</p>
            </div>
            <div class="d-flex mt-4">
                <img class="avatar" src="../../../../../img/avatar.jpg" alt="">
                <div class="ms-3">
                    <p class="fw-bold">Huy</p>
                    <p>20/09/2024</p>
                </div>

            </div>
        </div>
        <div class="mt-5 bg-card">
            <div class=" align-items-center ">
                <span class="text-warning">★★★★★</span>
                <p class="mt-2 h3">Đa dạng</p>
                <p class="mb-2">Nền tảng cung cấp nhiều loại câu hỏi, giúp việc thi và học thú vị hơn. Tuy nhiên, nên thêm tính năng luyện thi offline.</p>
            </div>
            <div class="d-flex mt-4">
                <img class="avatar" src="../../../../../img/avatar.jpg" alt="">
                <div class="ms-3">
                    <p class="fw-bold">Trà</p>
                    <p>16/09/2024</p>
                </div>

            </div>
        </div>
        <div class="mt-5 bg-card">
            <div class=" align-items-center ">
                <span class="text-warning">★★★★★</span>
                <p class="mt-2 h3">Hiệu quả</p>
                <p class="mb-2">Quiz Exam giúp tôi ôn luyện hiệu quả với các bài thi đa dạng. Mong sớm có thêm hỗ trợ nhiều ngôn ngữ hơn!</p>
            </div>
            <div class="d-flex mt-4">
                <img class="avatar" src="../../../../../img/avatar.jpg" alt="">
                <div class="ms-3">
                    <p class="fw-bold">Huyền</p>
                    <p>10/09/2024</p>
                </div>
            </div>
        </div>
    </div>
</div>