.item-container {
    width: 100%;
    border: 1px solid #ddd;
    margin-right: 50px;
}

.form-section {
    height: 0;
    width: 50%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    transition: height 0.5s ease-out, padding 0.5s ease-out;
}

.form-section.show {
    height: 233px;
    padding: 20px;
    border: 1px solid #ddd;
}

.form-section.error-active {
    height: auto; /* Tăng chiều cao khi có lỗi để chứa thông báo lỗi */
}

.form-section .form-title {
    font-weight: bold;
    text-align: center;
}

.form-section .btn {
    margin: 3px;
    width: auto;
    font-size: 12px;
    border-radius: 6px;
}

.form-section .btn-save {
    background-color: rgba(170, 18, 16, 0.93);
    color: white;
}

.form-section .btn-cancel {
    background-color: #ADADAD;
    color: white;
}

.btn-action {
    height: 38px;
    border: 1px solid #ddd;
    text-align: center;
    position: fixed;
    right: 20px;
}

.btn-action i {
    font-size: x-large;
    margin: 6px;
    color: grey;
}

.btn-action .btn-add:hover,
.btn-action .btn-back:hover {
    cursor: pointer;
    box-shadow: #e9ecef 0px 0px 3px 3px inset;
}