<div class="main-body">
    <div class="container">
        <div class="row">
            <!-- Main Quiz Area -->
            <div class="col-md-9 scrollable-questions">
                <div class="question-container">
                    <div *ngFor="let question of examDetail.questionRecordResponses; let i = index" class="question-section"
                        id="question-{{i + 1}}">
                        <h6><b>Question {{ i + 1 }}: </b>{{ question.content }}</h6>
                        <div *ngIf="question.image">
                            <img [src]="urlService.questionImageUrl + question.image" alt="Question Image">
                        </div>
                        <div class="answer-options" *ngFor="let answer of question.answerRecords; let j = index">
                            <input [type]="question.type === 1 ? 'radio' : 'checkbox'" [name]="question.id" [id]="answer.id"
                                [checked]="isSelectedAnswer(question.id, answer.id)" (click)="markQuestionAsCompleted(i)">
                            <label [for]="answer.id"><b>{{ getOptionLabel(j) }}. </b>{{ answer.content }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar Area -->
            <div class="col-md-3">
                <div class="sidebar-container" *ngIf="examDetail">
                    <h4><b>{{ examDetail.name }}</b></h4>
                    <p>
                        <span class="mdi mdi-clock"></span>
                        {{ remainingTime }}
                    </p>
                    <hr class="w-100 my-3">
                    <div class="count mb-3">
                        <div class="summary-count">{{ getQuestionsStatusCount() }}/{{ examDetail.questionRecordResponses.length }}</div>
                    </div>
                    <div class="calendar mb-3">
                        <div class="row">
                            <div *ngFor="let question of examDetail.questionRecordResponses; let i = index"
                                class="question-td col-5" (click)="scrollToQuestion(i)"
                                [ngClass]="{'btn-success': questionStatus[i], 'btn-outline-primary': !questionStatus[i]}">
                                {{ i + 1 }}
                            </div>
                        </div>
                    </div>
                    <hr class="w-100 my-3">
                    <button class="btn submit-btn w-100" (click)="openPopupConfirm()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup xác nhận -->
<div class="custom-popup" *ngIf="showPopupConfirm">
    <div class="popup-content">
        <h4 class="modal-title"><b>Confirm submission</b></h4>
        <hr/>
        <p>Are you sure you want to submit?</p>
        <button class="btn submit-btn" (click)="submitExam()">Submit</button>
        <button class="btn btn-secondary" (click)="closePopup()">Cancel</button>
    </div>
</div>

<!-- Popup cảnh báo -->
<div class="custom-popup" *ngIf="showPopupWarning">
    <div class="popup-content">
        <h4 class="modal-title"><b class="text-warning">Warning</b></h4>
        <hr/>
        <h5>{{ warningMessage }}</h5>
        <p *ngIf="noteMessage"><b class="text-danger">{{ noteMessage }}</b></p>
        <p *ngIf="violationMessage"><i class="text-danger">{{ violationMessage }}</i></p>
        <button class="btn btn-warning" (click)="closePopup()">Close</button>
    </div>
</div>