/* Body */
.content-wrapper {
    padding: 0 20px;
    margin: 20px 0 60px 150px;
    min-height: 80vh;
    overflow-x: hidden;
    transition: margin-left 0.3s ease;
}

.content-wrapper-collapsed {
    margin-left: 30px;
}

.line {
    margin-top: 0;
}

.bottom-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.button-create {
    font-size: 12px;
    background-color: #aa1210;
    border: none;
    border-radius: 6px;
}

.button:active {
    background-color: #8f0a0a;
}

.button-excel {
    font-size: 12px;
    color: #008c04 ;
    background: #a2ecb5 ;
    border: none;
    border-radius: 6px;
}

.button-pdf {
    font-size: 12px;
    background: #efcaca;
    color: #bf0000;
    border: none;
    border-radius: 6px;
}

.icon {
    line-height: normal;
    margin-right: 4px;
}

.pagination .page-item .page-link {
    color: var(--color-text);
    background-color: var(--color-background);
    border: none;
    border-radius: 8px;
    padding: 5px 13px;
    margin: 5px;
    transition: none
}

.pagination .page-item .page-link:hover {
    background-color: var(--color-page-hover);
}

.pagination .page-item .active,
.pagination .page-item .active:hover {
    color: #fff;
    background-color: rgba(170, 18, 16, 0.93);
}

.pagination .page-item .disabled {
    color: var(--color-disable);
    background-color: transparent;
}


/* Popup */
.modal-backdrop, .modal-backdrop-confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    width: 600px;
    /* Tăng chiều rộng của modal */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    font-size: 18px;
    /* Tăng kích thước font chữ */
}

.modal-header {
    background-color: #aa1210;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 15px;
    /* Tăng kích thước padding cho header */
    font-size: 20px;
    /* Tăng kích thước font chữ của header */
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.close-icon {
    font-size: 24px;
    /* Tăng kích thước dấu "X" */
    cursor: pointer;
}

.modal-body {
    padding: 20px;
    /* Tăng kích thước padding cho body */
    font-size: 18px;
    border-radius: 8px;
    /* Tăng kích thước font chữ cho nội dung */
    background-color: var(--color-background);
}

/* Popup Create */
.modal-body .form-create {
    font-size: 16px;
}

.modal-body .form-create input {
    font-size: 15px;
}

.modal-body .text-popup {
    margin-left: 3px;
}

.modal-body .form-group {
    margin-bottom: 22px;
}

/* Popup confirm */
.modal-content-confirm {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-header-confirm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 10px;
}

.modal-body-confirm {
    padding: 20px 0;
    font-size: 16px;
}

.modal-footer-confirm {
    padding-top: 10px;
    border-top: 1px solid #e9ecef;
}

.modal-footer-confirm .button {
    font-size: 12px;
    border: none;
    border-radius: 6px;
    margin-right: 5px;
}

.modal-footer-confirm .button-yes {
    background-color: #aa1210;
}

.modal-footer-confirm .button-no {
    background-color: gray;
}