<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': admin.isSidebarCollapsed}">
    <h4>Class</h4>
    <hr class="line">

    <div class="bottom-actions">
        <div>
            <a class="button button-create" (click)="openPopupCreate()"><span class="mdi mdi-plus icon"></span>Create</a>
        </div>
        <div>
            <a class="button button-excel" (click)="exportExcel()"><span class="mdi mdi-file-excel icon"></span>Export Excel</a>
            <a class="button button-pdf" (click)="exportPDF()"><span class="mdi mdi-file-pdf icon"></span>Export PDF</a>
        </div>
    </div>

    <table class="table" id="example">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Day</th>
                <th>Hour</th>
                <th>Admission Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div *ngIf="isPopupCreate || isPopupUpdate" class="popup-container">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <form class="form-popup" (ngSubmit)="submitForm()">
            <div class="popup-header">
                <span>{{ popupFormTitle() }} Class</span>
                <span class="close-icon" (click)="closePopup()">&times;</span>
            </div>
            <div class="popup-body">
                <div class="form-group">
                    <label for="name" class="label-popup">Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="classForm.name" name="name" placeholder="Enter Class Name">
                    <span class="text-danger error" *ngIf="validationError['name']">{{ validationError['name'] }}</span>
                </div>
                <div class="form-group">
                    <label for="classDay" class="label-popup">Day:</label>
                    <select class="form-select" [(ngModel)]="classForm.classDay" name="classDay">
                        <option value="2, 4, 6">2, 4, 6</option>
                        <option value="3, 5, 7">3, 5, 7</option>
                    </select>
                    <span class="text-danger error" *ngIf="validationError['classDay']">{{ validationError['classDay'] }}</span>
                </div>
                <div class="form-group">
                    <label for="classTime" class="label-popup">Hour:</label>
                    <select class="form-select" [(ngModel)]="classForm.classTime" name="classTime">
                        <option value="08h00 - 10h00">08h00 - 10h00</option>
                        <option value="10h00 - 12h00">10h00 - 12h00</option>
                        <option value="13h30 - 16h30">13h30 - 16h30</option>
                        <option value="18h00 - 21h00">18h00 - 21h00</option>
                    </select>
                    <span class="text-danger error" *ngIf="validationError['classTime']">{{ validationError['classTime'] }}</span>
                </div>
                <div class="form-group">
                    <label for="admissionDate" class="label-popup">Admission Date:</label>
                    <input type="date" class="form-control" [(ngModel)]="classForm.admissionDate" name="admissionDate">
                    <span class="text-danger error" *ngIf="validationError['admissionDate']">{{ validationError['admissionDate'] }}</span>
                </div>
            </div>
            <div class="popup-footer">
                <button type="submit" class="btn btn-primary button">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Popup xác nhận -->
<app-dialog-popup
  [isVisible]="isPopupDelete"
  [title]="dialogTitle"
  [message]="dialogMessage"
  [isConfirmationPopup]="isConfirmationPopup"
  (confirm)="deleteClass()"
  (close)="closePopup()">
</app-dialog-popup>