<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': home.isSidebarCollapsed}">
    <h4>Class</h4>
    <hr class="line">

    <!-- Bottom Actions (Create and Export) -->
    <div class="bottom-actions">
        <div>
            <a class="btn btn-primary button-create">Create</a>
        </div>
        <div>
            <a (click)="exportExcel()" class="btn btn-primary button-excel" style="margin-right: 5px;"><span
                    class="mdi mdi-file-excel icon"></span>Export Excel</a>
            <a (click)="exportPDF()" class="btn btn-primary button-pdf"><span class="mdi mdi-file-pdf icon"></span>Export PDF</a>
        </div>
    </div>

    <table class="table" id="example">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Day</th>
                <th>Hour</th>
                <th>Admission Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>

<div *ngIf="isPopupCreate" class="modal-backdrop" (click)="closePopup($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span>Create Student</span>
            <span class="close-icon" (click)="closePopup()">&times;</span>
        </div>
        <div class="modal-body">
            <form method="post" (ngSubmit)="createClass()" class="form-create">
                <div class="form-group">
                    <label for="name" class="text-popup">Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="name" name="name"
                        placeholder="Enter Class Name">
                    <span class="text-danger error">{{ nameError }}</span>
                </div>
                <div class="form-group">
                    <label for="classDay" class="text-popup">Day:</label>
                    <select class="form-select" [(ngModel)]="classDay" name="classDay">
                        <option value="2, 4, 6">2, 4, 6</option>
                        <option value="3, 5, 7">3, 5, 7</option>
                    </select>
                    <span class="text-danger error">{{ classDayError }}</span>
                </div>
                <div class="form-group">
                    <label for="classTime" class="text-popup">Hour:</label>
                    <select class="form-select" [(ngModel)]="classTime" name="classTime">
                        <option value="8h00 - 10h00">8h00 - 10h00</option>
                        <option value="10h00 - 12h00">10h00 - 12h00</option>
                        <option value="13h30 - 16h30">13h30 - 16h30</option>
                        <option value="18h00 - 21h00">18h00 - 21h00</option>
                    </select>
                    <span class="text-danger error">{{ classTimeError }}</span>
                </div>
                <div class="form-group">
                    <label for="admissionDate" class="text-popup">Admission Date:</label>
                    <input type="date" class="form-control" [(ngModel)]="admissionDate" name="admissionDate">
                    <span class="text-danger error">{{ admissionDateError }}</span>
                </div>
                
                <button type="submit" class="btn btn-primary button">Save</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isPopupEdit" class="modal-backdrop" (click)="closePopup($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span>Edit Student</span>
            <span class="close-icon" (click)="closePopup()">&times;</span>
        </div>
        <div class="modal-body">
            <form method="post" (ngSubmit)="updateClass()" class="form-create">
                <div class="form-group">
                    <label for="name" class="text-popup">Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="infoEdit.name" name="name" placeholder="Enter Class Name">
                    <span class="text-danger error">{{ nameError }}</span>
                </div>
                <div class="form-group">
                    <label for="classDay" class="text-popup">Day:</label>
                    <select class="form-control" [(ngModel)]="infoEdit.classDay" name="classDay">
                        <option value="2, 4, 6">2, 4, 6</option>
                        <option value="3, 5, 7">3, 5, 7</option>
                    </select>
                    <span class="text-danger error">{{ classDayError }}</span>
                </div>
                <div class="form-group">
                    <label for="classTime" class="text-popup">Hour:</label>
                    <select class="form-control" [(ngModel)]="infoEdit.classTime" name="classTime">
                        <option value="8h00 - 10h00">8h00 - 10h00</option>
                        <option value="10h00 - 12h00">10h00 - 12h00</option>
                        <option value="13h30 - 16h30">13h30 - 16h30</option>
                        <option value="18h00 - 21h00">18h00 - 21h00</option>
                    </select>
                    <span class="text-danger error">{{ classTimeError }}</span>
                </div>
                <div class="form-group">
                    <label for="admissionDate" class="text-popup">Admission Date:</label>
                    <input type="date" class="form-control" [(ngModel)]="infoEdit.admissionDate" name="admissionDate">
                    <span class="text-danger error">{{ admissionDateError }}</span>
                </div>
                
                <button type="submit" class="btn btn-primary button">Save</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isPopupConfirm" class="modal-backdrop-confirm" (click)="closePopup($event)">
    <div class="modal-content-confirm" (click)="$event.stopPropagation()">
        <div class="modal-header-confirm">
            <span>Are you sure?</span>
            <span class="close-icon" (click)="closePopup($event)">&times;</span>
        </div>
        <div class="modal-body-confirm">
            <p>Are you sure you want to delete this class?</p>
        </div>
        <div class="modal-footer-confirm">
            <button type="button" class="btn btn-primary button button-yes" (click)="deleteClass(classId)">Yes</button>
            <button type="button" class="btn btn-secondary button button-no" (click)="closePopup($event)">No</button>
        </div>
    </div>
</div>