<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': admin.isSidebarCollapsed}">
    <h4>Class</h4>
    <hr class="line">

    <!-- Bottom Actions (Create and Export) -->
    <div class="bottom-actions">
        <div>
            <a class="button button-create create"><span class="mdi mdi-plus icon"></span>Create</a>
        </div>
        <div>
            <a (click)="exportExcel()" class="button button-excel"><span class="mdi mdi-file-excel icon"></span>Export Excel</a>
            <a (click)="exportPDF()" class="button button-pdf"><span class="mdi mdi-file-pdf icon"></span>Export PDF</a>
        </div>
    </div>

    <table class="table" id="example">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Day</th>
                <th>Hour</th>
                <th>Admission Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>

<div *ngIf="isPopupCreate" class="popup-container">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <form class="form-popup" (ngSubmit)="createClass()">
            <div class="popup-header">
                <span>Create Class</span>
                <span class="close-icon" (click)="closePopup()">&times;</span>
            </div>
            <div class="popup-body">
                <div class="form-group">
                    <label for="name" class="text-popup">Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Enter Class Name">
                    <span class="text-danger error">{{ nameError }}</span>
                </div>
                <div class="form-group">
                    <label for="classDay" class="text-popup">Day:</label>
                    <select class="form-select" [(ngModel)]="classDay" name="classDay">
                        <option value="2, 4, 6">2, 4, 6</option>
                        <option value="3, 5, 7">3, 5, 7</option>
                    </select>
                    <span class="text-danger error">{{ classDayError }}</span>
                </div>
                <div class="form-group">
                    <label for="classTime" class="text-popup">Hour:</label>
                    <select class="form-select" [(ngModel)]="classTime" name="classTime">
                        <option value="8h00 - 10h00">8h00 - 10h00</option>
                        <option value="10h00 - 12h00">10h00 - 12h00</option>
                        <option value="13h30 - 16h30">13h30 - 16h30</option>
                        <option value="18h00 - 21h00">18h00 - 21h00</option>
                    </select>
                    <span class="text-danger error">{{ classTimeError }}</span>
                </div>
                <div class="form-group">
                    <label for="admissionDate" class="text-popup">Admission Date:</label>
                    <input type="date" class="form-control" [(ngModel)]="admissionDate" name="admissionDate">
                    <span class="text-danger error">{{ admissionDateError }}</span>
                </div>
            </div>
            <div class="popup-footer">
                <button type="submit" class="btn btn-primary button">Save</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isPopupUpdate" class="popup-container">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <form class="form-popup" (ngSubmit)="updateClass()">
            <div class="popup-header">
                <span>Edit Class</span>
                <span class="close-icon" (click)="closePopup()">&times;</span>
            </div>
            <div class="popup-body">
                <div class="form-group">
                    <label for="name" class="text-popup">Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="infoEdit.name" name="name" placeholder="Enter Class Name">
                    <span class="text-danger error">{{ nameError }}</span>
                </div>
                <div class="form-group">
                    <label for="classDay" class="text-popup">Day:</label>
                    <select class="form-select" [(ngModel)]="infoEdit.classDay" name="classDay">
                        <option value="2, 4, 6">2, 4, 6</option>
                        <option value="3, 5, 7">3, 5, 7</option>
                    </select>
                    <span class="text-danger error">{{ classDayError }}</span>
                </div>
                <div class="form-group">
                    <label for="classTime" class="text-popup">Hour:</label>
                    <select class="form-select" [(ngModel)]="infoEdit.classTime" name="classTime">
                        <option value="8h00 - 10h00">8h00 - 10h00</option>
                        <option value="10h00 - 12h00">10h00 - 12h00</option>
                        <option value="13h30 - 16h30">13h30 - 16h30</option>
                        <option value="18h00 - 21h00">18h00 - 21h00</option>
                    </select>
                    <span class="text-danger error">{{ classTimeError }}</span>
                </div>
                <div class="form-group">
                    <label for="admissionDate" class="text-popup">Admission Date:</label>
                    <input type="date" class="form-control" [(ngModel)]="infoEdit.admissionDate" name="admissionDate">
                    <span class="text-danger error">{{ admissionDateError }}</span>
                </div>
            </div>
            <div class="popup-footer">
                <button type="submit" class="btn btn-primary button">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Popup xác nhận xóa câu trả lời -->
<app-dialog-popup
  [isVisible]="isPopupDelete"
  [title]="dialogTitle"
  [message]="dialogMessage"
  [isConfirmationPopup]="isConfirmationPopup"
  (confirm)="deleteClass(classId)"
  (close)="closePopup()">
</app-dialog-popup>