<div class="content-wrapper">
    <h2>Employee</h2>
    <hr>

    <!-- Search Section -->
    <form class="search-section" method="post">
        <input type="text" class="form-control" placeholder="Search">
        <button type="submit">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </button>
    </form>

    <!-- Bottom Actions (Create and Export) -->
    <div class="bottom-actions">
        <div>
            <a href="" class="btn btn-primary button">Create</a>
        </div>
        <div>
            <a href="" class="btn btn-primary button" style="margin-right: 5px;"><span class="mdi mdi-arrow-expand-up icon"></span>Export Excel</a>
            <a href="" class="btn btn-primary button"><span class="mdi mdi-arrow-expand-up icon"></span>Export PDF</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of responseData">
                <td>{{ item.fullName }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phoneNumber }}</td>
                <td>{{ item.role.name }}</td>
                <td class="action">
                    <a href="#" class="info-icon">
                        <span class="mdi mdi-information-outline"></span>
                    </a>
                    <a href="#" class="info-icon">
                        <span class="mdi mdi-delete-forever"></span>
                    </a>
                </td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link disabled" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link active" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <!-- Add more pages as needed -->
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>