*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body {
    background-color: #fff;
    background: linear-gradient(to right, #eff1f2, #cfd8f6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}
.sign-in h1 {
    color: #000;
    margin-bottom: 10px;
}

.container {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}
.input-a a:hover {
    color: blue;
    font-size: 13px;
    margin: 15px 0 10px;
    text-decoration: underline;
}
.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none; 
    margin: 15px 0 10px;

}

.container button {
    background-color: #aa1210;
    color: #fff;
    padding: 6px 33px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;

}
.container button:disabled {
    opacity: 0.6;
}
.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.sign-in {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
    z-index: 2;
}

/* .container.active .sign-in{
    transform: translateX(100%);
} */

/* @keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
} */

.icons {
    margin: 20px 0;
}

a.icon  {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px !important; 
    width: 40px;
    height: 40px;
}

.toogle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* border-radius: 150px 40px 40px 150px ; */
    z-index: 1000;
    transform: all 0.6s ease-in-out;
}

/* .container.active .toogle-container {
    transform: translateX(-100%); 
    border-radius: 40px;  
} */

.toogle {
    /* background-color: rgb(248, 248, 253); */
    height: 100%;
    /* background: linear-gradient(to right, #cb5353, #aa1210); */
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transform: all 0.6s ease-in-out;   
}

.toogle-panel {
    position: absolute;
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    z-index: 2;
    transform: translateX(0);
    transform: all 0.6s ease-in-out;
}

.toogle-panel h1 {
    font-size: 400%;
    font-family: 'Arizonia';
    letter-spacing: 1px;
}

.circle-lg {
    position: absolute;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    right: -18%;
    top: -20%;
    z-index: -1;
    /* background-color: blue; */
    background: linear-gradient(to right, #cb5353, #aa1210);
    border-radius: 50%;
    transform: translateX(0);
    transform: all 0.6s ease-in-out;
}

.circle-sm {
    position: absolute;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    right: 25%;
    top: 55%;
    z-index: 0;
    /* background-color: blue; */
    background: linear-gradient(to right, #cd5959, #be2c29);
    border-radius: 50%;
    transform: translateX(0);
    transform: all 0.6s ease-in-out;
}

.circle-sm-left {
    position: absolute;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    left: -15%;
    top: 80%;
    /* background-color: blue; */
    background: linear-gradient(to right, #be2c29, #cd5959);
    border-radius: 50%;
    transform: translateX(0);
    transform: all 0.6s ease-in-out;
}

.circle-md {
    position: absolute;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    right: -8%;
    top: 75%;
    z-index: 1;
    /* background-color: blue; */
    background: linear-gradient(to right, #aa1210, #cb5353);
    border-radius: 50%;
    transform: translateX(0);
    transform: all 0.6s ease-in-out;
}

.toogle-right {
    right: 0;
    transform: translateX(0);
}

.error {
    width: 98%;
    color: red;
    font-size: small;
}
/* .container.active .toogle-right{
    transform: translateX(200%);
} */

