<div class="body">
    <div class="container " id="container">
        <div class="sign-in">
            <form [formGroup]="loginForm" (ngSubmit)="login()" method="post">
                <h1>Sign In</h1>
                <input type="email" placeholder="Email" id="email" formControlName="email" name="email" required>
                <div style="width: 96%;" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched||loginForm.get('email')?.dirty)">
                    <small class="error" *ngIf="loginForm.get('email')?.errors?.['required']">Email is
                        required.</small>
                    <small class="error" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email
                        format.</small>
                </div>
                <input type="password" placeholder="Password" id="password" formControlName="password" name="password" required>
                <div style="width: 96%;" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched||loginForm.get('password')?.dirty)">
                    <small class="error" *ngIf="loginForm.get('password')?.errors?.['required']">Password is
                        required.</small>
                    <small class="error" *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        Password must be at least 8 characters long.
                    </small>
                </div>
                <div class="input-a">
                <a href="#">Forgot password</a>
            </div>
                <button type="submit" [disabled]="loginForm.invalid" >Sign In</button>
            </form>
            <div class="circle-sm-left"></div>
        </div>
        <div class="toogle-container">
            <div class="toogle">
                <div class="toogle-panel toogle-right">
                    <h1>QuizTech</h1>
                    <p>Welcome to Online Examination System</p>
                </div>
                <div class="circle-lg"></div>
                <div class="circle-md"></div>
                <div class="circle-sm"></div>
            </div>
        </div>
    </div>
</div>

