<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': admin.isSidebarCollapsed}">
    <h4>Register Students for Exam</h4>
    <hr class="line">

    <div class="row bs-wizard" [ngClass]="{'d-none': !examComponent.step}">
        <div class="col-xs-3 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Step 1</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Create Exam</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step active">
          <div class="text-center bs-wizard-stepnum">Step 2</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Add Student</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step disabled">
          <div class="text-center bs-wizard-stepnum">Step 3</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Complete</div>
        </div>
    </div>

    <div class="bottom-actions">
        <div>
            <a class="button button-create" (click)="showStudentPopup()"><span class="mdi mdi-plus icon"></span>Add Student</a>
        </div>
        <div>
            <a class="button button-pdf" (click)="addStudentInExam();">Next<span class="mdi mdi-forward icon"></span></a>
        </div>
    </div>

    <table class="table" id="example">
        <thead>
            <tr>
                <th>STT</th>
                <th>Roll Number</th>
                <th>Roll Portal</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>

<div *ngIf="isPopupAddStudent" class="popup-container">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <div class="popup-header">
            <span>Add Student</span>
            <span class="close-icon" (click)="closePopup()">&times;</span>
        </div>
        <div class="search-container">
            <div class="row">
                <div class="col-6">
                    <select class="form-select" [(ngModel)]="classId" name="classId" (change)="filterStudentsByClass()">
                        <option value=0>Student (No Class)</option>
                        <option *ngFor="let data of filterClass" [value]="data.id">{{data.name}}</option>
                    </select>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control search-input" [(ngModel)]="searchClass" (ngModelChange)="onSearchClassChange()"
                        name="searchStudent" placeholder="Search Class"/>
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </div>
            </div>
        </div>
        <div class="search-container">
                <input type="text" class="form-control search-input" [(ngModel)]="searchStudent" (ngModelChange)="onSearchStudentsChange()"
                        name="searchStudent" placeholder="Search Students"/>
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
        <div class="popup-body">
            <div class="form-popup">
                <div class="checkbox-group">
                    <div class="checkbox-input" *ngIf=" searchStudent == '' ">
                        <input type="checkbox" id="student" [checked]="selectAllStatus[classId]" (change)="toggleSelectAll($event)"/>
                        <label for="student" >Select All</label>
                    </div>
                    <div class="checkbox-input" *ngFor="let student of filterStudents">
                        <input type="checkbox" (change)="handleCheckboxChange(student.userResponse.id, $event)"
                            [checked]="isChecked(student.userResponse.id)"
                            id="student{{student.userResponse.id}}"/>
                        <label for="student{{student.userResponse.id}}">{{ student.userResponse.fullName }} - {{ student.userResponse.email }} - {{ student.rollNumber }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <button type="button" class="btn btn-primary button" (click)="saveSelectedStudents()">OK</button>
        </div>
    </div>
</div>

<app-dialog-popup
  [isVisible]="isPopupDelete"
  [title]="dialogTitle"
  [message]="dialogMessage"
  [isConfirmationPopup]="isConfirmationPopup"
  (confirm)="deleteStudent()"
  (close)="closePopup()">
</app-dialog-popup>