.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-container .popup-content {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 800px;
    max-height: 80vh;
    color: var(--color-text);
    background-color: var(--color-background);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    border-radius: 8px;
}

.popup-container .popup-content .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #aa1210;
    border-radius: 8px 8px 0 0;
    padding: 15px;
}

.popup-container .popup-content .popup-body {
    max-height: calc(80vh - 150px);
    padding: 5px 20px 0 15px;
    background-color: var(--color-background);
    overflow-y: auto;
}

.popup-container .popup-content .popup-footer {
    padding: 10px;
    background-color: var(--color-background);
    border-radius: 0px 0px 8px 8px;
}

.popup-container .popup-content .search-container {
    position: relative;
    margin: 10px;
}

.popup-container .popup-content .popup-header .close-icon {
    font-size: 24px;
    cursor: pointer;
}

.popup-container .popup-content .search-container .search-input {
    width: 100%;
    padding: 8px 33px 8px 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.popup-container .popup-content .search-container .search-input:focus {
    outline: none;
    border-color: #aa1210;
}

.popup-container .popup-content .search-container .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
}

.popup-container .popup-content .form-popup .popup-body .label-popup {
    margin-left: 3px;
}

.popup-container .popup-content .form-popup .popup-body .form-group {
    margin-top: 10px;
    margin-bottom: 15px;
}

.popup-container .popup-content .form-popup .popup-body .form-group .error,
.popup-container .popup-content .form-popup .search-container .error {
    margin-left: 3px;
    font-size: 0.875rem;
}

.popup-container .popup-content .form-popup .popup-body .form-group .image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.popup-container .popup-content .form-popup .popup-body .form-group .img-preview.hidden-border {
    border: none;
}

.popup-container .popup-content .form-popup .popup-body .form-group .image-preview #image-subject {
    width: 100%;
}

.popup-container .popup-content .form-popup .popup-body .form-group .image-preview .remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}

.popup-container .popup-content .popup-body .form-popup .checkbox-input {
    margin-bottom: 10px;
}

.popup-container .popup-content .popup-body .form-popup .checkbox-input input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.3);
    cursor: pointer;
}

.popup-container .popup-content .popup-body .popup-table {
    width: 100%;
    border-spacing: 0;
}

.popup-container .popup-content .popup-body .popup-table td {
    padding: 8px;
}

.popup-container .popup-content .popup-body .popup-table strong {
    display: inline-block;
    width: 100%;
}

.popup-container .popup-content .popup-footer .button {
    min-width: 100px;
    border: none;
    background-color: #aa1210;
}

.popup-container .popup-content .popup-footer .button:hover {
    background-color: #990000;
}