<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': examComponent.home.isSidebarCollapsed}">
    <h4>Examination</h4>
    <hr class="line">
    <!-- Bottom Actions (Back and Export) -->
    <div class="bottom-actions">
        <div>
            <a href="./admin/home/exam"><span class="mdi mdi-keyboard-backspace" style="font-size: 18px; color: black;"
                    title="Back to List"></span></a>
        </div>
        <div>
            <a class="btn btn-primary button"><span class="mdi mdi-file-export icon"></span>Export PDF</a>
        </div>
    </div>
    <div class="container my-4">
        <!-- Exam details section -->
        <div class="exam-details">
            <!-- Centered title with edit icon -->
            <div class="exam-header">
                <h4 class="text-center flex-grow-1">Examination Detail</h4>
                <a href="./admin/home/exam/examform"><i class="fa-solid fa-pen-to-square" style="color: black;"
                        title="Edit"></i></a>
            </div>

            <!-- Exam information with two columns -->
            <div class="row" *ngIf="selectedExam">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Name:</p>
                        <p class="content">{{selectedExam.name}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Subject:</p>
                        <p class="content">{{selectedExam.subject.name}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Start Time:</p>
                        <p class="content">{{selectedExam.startTime | date:'dd/MM/yyyy HH:mm'}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Code:</p>
                        <p class="content">{{selectedExam.code}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Duration:</p>
                        <p class="content">{{selectedExam.duration}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">End Time:</p>
                        <p class="content">{{selectedExam.endTime | date:'dd/MM/yyyy HH:mm'}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="question-section-container">
            <div *ngFor="let question of selectedExam.questionRecordResponses; let i = index" class="question-section">
                <h6>Question {{ i + 1 }} : {{ question.content }}</h6>

                <div *ngIf="question.imageUrl">
                    <img [src]="question.imageUrl" alt="Question Image">
                </div>

                <ng-container *ngIf="question.answerRecords.length === 1; else multipleAnswers">

                    <div class="answer-option">
                        <input type="radio" [name]="question.id" [id]="question.optionA">
                        <label [for]="question.id">{{ question.optionA }}</label>
                    </div>
                    <div class="answer-option">
                        <input type="radio" [name]="question.id" [id]="question.optionB">
                        <label [for]="question.id">{{ question.optionB }}</label>
                    </div>
                    <div class="answer-option">
                        <input type="radio" [name]="question.id" [id]="question.optionC">
                        <label [for]="question.id">{{ question.optionC }}</label>
                    </div>
                    <div class="answer-option">
                        <input type="radio" [name]="question.id" [id]="question.optionD">
                        <label [for]="question.id">{{ question.optionD }}</label>
                    </div>
                </ng-container>

                <ng-template #multipleAnswers>
                    <div class="answer-option">
                        <input type="checkbox" [name]="question.id" [id]="question.optionA">
                        <label [for]="question.id">{{ question.optionA }}</label>
                    </div>
                    <div class="answer-option">
                        <input type="checkbox" [name]="question.id" [id]="question.optionB">
                        <label [for]="question.id">{{ question.optionB }}</label>
                    </div>
                    <div class="answer-option">
                        <input type="checkbox" [name]="question.id" [id]="question.optionC">
                        <label [for]="question.id">{{ question.optionC }}</label>
                    </div>
                    <div class="answer-option">
                        <input type="checkbox" [name]="question.id" [id]="question.optionD">
                        <label [for]="question.id">{{ question.optionD }}</label>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>