<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': home.isSidebarCollapsed}">
    <h4>Examination</h4>
    <hr class="line">
    
    <div class="row bs-wizard" [ngClass]="{'d-none': !examComponent.step}">
        <div class="col-xs-3 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Step 1</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Create Exam</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Step 2</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Add Student</div>
        </div>
        
        <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Step 3</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Detail</div>
        </div>
    </div>

    <!-- Bottom Actions (Back and Export) -->
    <div class="bottom-actions" [ngClass]="{'d-none': examComponent.step}">
        <div>
            <a href="./admin/home/exam"><span class="mdi mdi-keyboard-backspace" style="font-size: 18px; color: black;"
                    title="Back to List"></span></a>
        </div>
        <div>
            <a class="btn btn-primary button"><span class="mdi mdi-file-export icon"></span>Export PDF</a>
        </div>
    </div>
    <div class="container my-4">
        <!-- Exam details section -->
        <div class="exam-details">
            <!-- Centered title with edit icon -->
            <div class="exam-header">
                <h4 class="text-center flex-grow-1">Examination Detail</h4>
                <a href="./admin/home/exam/examform"><i class="fa-solid fa-pen-to-square" style="color: black;"
                        title="Edit"></i></a>
            </div>

            <!-- Exam information with two columns -->
            <div class="row" *ngIf="selectedExam">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Name:</p>
                        <p class="content">{{selectedExam.name}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Subject:</p>
                        <p class="content">{{selectedExam.subject.name}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Start Time:</p>
                        <p class="content">{{selectedExam.startTime | date:'dd/MM/yyyy HH:mm'}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Code:</p>
                        <p class="content">{{selectedExam.code}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">Duration:</p>
                        <p class="content">{{selectedExam.duration}}</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <p class="label">End Time:</p>
                        <p class="content">{{selectedExam.endTime | date:'dd/MM/yyyy HH:mm'}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="question-section-container">
            <div *ngFor="let question of selectedExam.questionRecordResponses; let i = index" class="question-section">
                <h6>Question {{ i + 1 }} : {{ question.content }}</h6>

                <div *ngIf="question.image">
                    <img [src]="'../../../../../../img-question/' + question.image" alt="Question Image">
                </div>

                <ng-container *ngIf="question.type === 1; else multipleAnswers">
                    <div class="answer-option" *ngFor="let answer of question.answerRecords; let j = index">
                        <input type="radio" [name]="question.id" [id]="answer.id">
                        <label [for]="answer.id">{{ answer.content }}</label>
                    </div>
                </ng-container>

                <ng-template #multipleAnswers>
                    <div class="answer-option" *ngFor="let answer of question.answerRecords; let j = index">
                        <input type="checkbox" [name]="question.id" [id]="answer.id">
                        <label [for]="answer.id">{{ answer.content }}</label>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>