.bottom-actions span {
    font-size: 18px;
    cursor: pointer;
}

/* Exam details section with box shadow */
.exam-details {
    position: relative;
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 80%;
    min-height: 200px;
    background-color: var(--color-card);
    color: var(--color-text);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.9s ease;
}

.exam-header {
    display: flex;
    margin-bottom: 10px;
}

.exam-header span {
    margin-right: 5px;
    font-size: 24px;
    cursor: pointer;
}

.exam-details .row {
    padding-left: 150px;
}

.exam-details p {
    margin-bottom: 0.5rem;
}

/* Adjust the label to align better */
.label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 100px;
    font-size: 14px;
}

/* Flex-grow the content to take the rest of the space */
.content {
    flex-grow: 1;
    font-size: 14px;
}

/* Question section with box shadow (same as exam-details) */
.question-section-container {
    position: relative;
    margin: 0 auto 0 auto;
    padding: 20px;
    width: 80%;
    max-height: 500px;
    overflow-y: auto;
    background-color: var(--color-card);
    color: var(--color-text);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.9s ease;
}

.question-section {
    margin-bottom: 30px;
}

.question-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.answer-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.answer-option input[type="radio"],
.answer-option input[type="checkbox"] {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    accent-color: black; /* Customize color for radio/checkbox */
}

/* Style for the label */
.answer-option label {
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .question-section-container {
        padding: 15px;
    }

    .question-section h6 {
        font-size: 16px;
    }

    .answer-option input[type="radio"],
    .answer-option input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .answer-option label {
        font-size: 14px;
    }
}