<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': admin.isSidebarCollapsed}">
    <h4>Examination</h4>
    <hr class="line">

    <div class="row bs-wizard bs-wizard-3" *ngIf="examsForm.type == 0">
        <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Create Exam</div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Add Student</div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Complete</div>
        </div>
    </div>

    <div class="row bs-wizard bs-wizard-4" *ngIf="examsForm.type == 1">
        <div class="col-xs-3 bs-wizard-step {{typeExam == 1 ? 'complete' : 'active'}}">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Create Exam</div>
        </div>

        <div class="col-xs-3 bs-wizard-step {{typeExam == 1 ? 'active' : 'disabled'}}">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Add Question</div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Add Student</div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Complete</div>
        </div>
    </div>

    <div class="bottom-actions" *ngIf="typeExam == 1">
        <div>
            <a class="button button-pdf" (click)="backStep()"><span class="mdi mdi-arrow-left-thick"></span>Back</a>
        </div>
        <div>
            <a class="button button-pdf">Next<span class="mdi mdi-arrow-right-thick"></span></a>
        </div>
    </div>

    <div class="container create-exam" *ngIf="typeExam == 0">
        <div class="title">
            <h3 class="text-center mt-4">Create Examination</h3>
        </div>
        <div class="content">
            <form (ngSubmit)="nextStep()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label><br>
                            <input type="text" class="form-control" name="name" [(ngModel)]="examsForm.name" id="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="duration">Duration(minutes)</label><br>
                            <input type="number" class="form-control" name="duration" [(ngModel)]="examsForm.duration"
                                id="duration">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="startTime">Start Time</label><br>
                            <input type="datetime-local" class="form-control" name="startTime"
                                [(ngModel)]="examsForm.startTime" id="startTime">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endTime">End Time</label><br>
                            <input type="datetime-local" class="form-control" name="endTime"
                                [(ngModel)]="examsForm.endTime" id="endTime">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Subject</label><br>
                            <select [(ngModel)]="examsForm.subjectId" class="form-select" name="subjectId" id="subject"
                                (change)="selectSubject($event)">
                                <option *ngFor="let sub of subjects" [value]="sub.id" value="">{{sub.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="type">Type</label><br>
                            <select class="form-select" [(ngModel)]="examsForm.type" name="examsForm.type">
                                <option value=0>Gen đề tự động</option>
                                <option value=1>Chọn câu hỏi</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="label-title"></label>
                    <div class="w-30">
                        <button type="submit" class="btn button me-2">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container" *ngIf="typeExam == 1">
        <div class="row exam-detail">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p class="label">Name:</p>
                        <p class="content">{{examsForm.name}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="label">Subject:</p>
                        <p class="content">{{subjectName}}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="label">Duration:</p>
                        <p class="content">{{examsForm.duration}}</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column align-items-end">
                    <div class="d-flex">
                        <p class="label me-2">Start Time:</p>
                        <p class="content">{{examsForm.startTime | date:'dd/MM/yyyy HH:mm'}}</p>
                    </div>
                    <div class="d-flex">
                        <p class="label me-2">End Time:</p>
                        <p class="content">{{examsForm.endTime | date:'dd/MM/yyyy HH:mm'}}</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container select-question mt-3" >
            <div class="row">
                <div class="col-md-6">
                    <div class="question-container">
                        <h3 class="text-center">List Question</h3>
                        <div class="d-flex justify-content-start align-items-center mb-4">
                            <input type="text" class="form-control search-input" [(ngModel)]="searchTextList"
                                placeholder="Search" />
                        </div>
                        <div *ngIf="filteredListQuestions.length > 0; else noListQuestions">
                            <div *ngFor="let question of filteredListQuestions" class="question-item">
                                <span class="mdi mdi-plus-circle-outline" (click)="moveToExam(question)" style="cursor: pointer;" title="Add"></span>
                                {{ question.content }}
                            </div>
                        </div>
                        <ng-template #noListQuestions>
                            <p>No questions found in List Question.</p>
                        </ng-template>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="question-container">
                        <h3 class="text-center">Exam</h3>
                        <div class="d-flex justify-content-start mb-4">
                            <input type="text" class="form-control search-input" [(ngModel)]="searchTextExam"
                                placeholder="Search" />
                        </div>
                        <div *ngIf="filteredExamQuestions.length > 0; else noExamQuestions">
                            <div *ngFor="let question of filteredExamQuestions" class="question-item">
                                <span class="mdi mdi-minus-circle-outline" (click)="moveToList(question)" style="cursor: pointer;" title="Remove"></span>
                                {{ question.content }}
                            </div>
                        </div>
                        <ng-template #noExamQuestions>
                            <p>No questions found in Exam.</p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div *ngIf="isPopupLevel" class="popup-container">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <form class="form-popup">
            <div class="popup-header">
                <span>Enter the number of questions by level</span>
                <span class="close-icon" (click)="closePopup()">&times;</span>
            </div>
            <div class="popup-body">
                <div class="form-group" *ngFor="let level of listLevel">
                    <label for="level{{level.id}}" class="text-popup">{{ level.name }}:</label>
                    <input type="number" class="form-control" [(ngModel)]="levelId[level.id]" name="{{level.id}}"
                        placeholder="Enter number">
                    <span class="text-danger error">{{errorMessageLevel[level.id]}}</span>
                </div>
            </div>
            <div class="popup-footer">
                <button type="button" class="btn btn-primary button" (click)="confirmLevel()">Save</button>
            </div>
        </form>
    </div>
</div>