.content-wrapper {
    padding: 80px 20px 60px 170px;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: all 0.5s ease;
}

.content-wrapper-collapsed {
    padding-left: 50px;
}

.line {
    margin-top: 0;
}

.container {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 6px;
    margin-top: 50px;
    max-width: 750px;
}

.content {
    margin: -1% 3% 5% 3%;
}

.content .group-input-label {
    font-weight: 600;
    padding-bottom: 3px;
    padding-top: 30px;
}

.content input[type="text"],
input[type="datetime-local"],
select {
    width: 95%;
    background-color: #EDF5F4;
    border: none;
    min-height: 35px;
    border-radius: 5px;
}

.content input[type="text"],
input[type="datetime-local"] {
    padding: .375rem 0.75rem .375rem .75rem;
}

select {
    padding: .375rem 2.75rem .375rem .75rem;
}

.group-input {
    padding-left: 5%;
}

.button-chapter {
    white-space: nowrap;
    /* Ngăn không cho nội dung xuống dòng */
    overflow: hidden;
    /* Ẩn nội dung vượt quá chiều rộng của nút */
    text-overflow: ellipsis;
    /* Hiển thị "..." khi nội dung bị cắt */
    display: inline-block;
    /* Để áp dụng các thuộc tính overflow */
}

.w-30 .button {
    color: white;
    background-color: #AA1210;
    margin-right: 20px;
    width: 100%;
}

.w-30 {
    width: 30%;
    margin: auto;
}

.form-right {
    margin-left: 10px;
}

.title h3 {
    font-weight: bold;
}

.form-select {
    width: 95%;
    background-color: #EDF5F4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Popup */
.modal-backdrop, .modal-backdrop-confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    width: 600px;
    /* Tăng chiều rộng của modal */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    font-size: 18px;
    /* Tăng kích thước font chữ */
}

.modal-header {
    background-color: #aa1210;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 15px;
    /* Tăng kích thước padding cho header */
    font-size: 20px;
    /* Tăng kích thước font chữ của header */
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.close-icon {
    font-size: 24px;
    /* Tăng kích thước dấu "X" */
    cursor: pointer;
}

.modal-body {
    padding: 20px;
    /* Tăng kích thước padding cho body */
    font-size: 18px;
    border-radius: 8px;
    /* Tăng kích thước font chữ cho nội dung */
    background-color: var(--color-background);
}

.modal-body .form-level {
    font-size: 16px;
}

.modal-body .form-level input {
    font-size: 15px;
}

.modal-body .text-popup {
    margin-left: 3px;
}

.modal-body .form-group {
    margin-bottom: 22px;
}

.modal-body .button {
    margin-right: 20px;
}