.sem-container {
    display: flex;
    gap: 10px;
}

.sem-container .btn {
    border-radius: 8px;
    border: none;
    color: var(--color-text);
    font-size: 12px;
    padding: 6px 12px;
}

.sem-container .btn:hover {
    background-color: #e6e6e680;
    color: #000000;
}

.sem-container .btn.active {
    background-color: #e6e6e6;
    color: #000000;
    font-weight: bold;
}

.search-container {
    width: 300px;
    position: relative;
}

.search-container .form-control {
    padding: 5px 11px;
    font-size: 12px;
}

.search-container .form-control:focus {
    border-color: #dee2e6;
    box-shadow: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
}

.container p {
    font-size: smaller;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: smaller;
    font-weight: bold;
}

.card-content .card-title {
    margin-bottom: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.card-image {
    margin-top: 10px;
    text-align: center;
}

.card-image img {
    height: 200px;
    border-radius: 5px;
}

.card {
    margin: auto;
    cursor: pointer;
    width: 300px;
    height: 320px;
    color: var(--color-text);
    background-color: var(--color-card);
    transition: all 0.9s ease;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .paginate_button.disabled,
.pagination .paginate_button.disabled:hover {
    cursor: default;
    background: none;
    color: var(--color-disable);
    transition: all 0.9s ease;
}

.pagination .paginate_button.current,
.pagination .paginate_button.current:hover{
    color: #fff;
    border: none;
    border-radius: 8px;
    background: none;
    background-color: #aa1210;
    padding: 2px 12px;
}

.pagination .paginate_button {
    margin: 1px;
    padding: 2px 12px;
    border-radius: 8px;
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.9s ease;
}

.pagination .paginate_button:hover {
    background-color: var(--color-page-hover);
}

@media (min-width: 1400px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (max-width: 1400px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33%;
    }
}

@media (max-width: 1100px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (max-width: 800px) {
    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}