<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': admin.isSidebarCollapsed}">
    <h4>Examination</h4>
    <hr class="line">

    <div class="d-flex">
        <!-- Bottom Actions (Create and Export) -->
        <div class="bottom-actions">
            <div class="sem-container">
                <a class="btn btn-outline-light" *ngFor="let sem of semester" [ngClass]="{'active': selectedSem === sem.id}" (click)="selectSem(sem.id)">{{ sem.name }}</a>
            </div>
        </div>
        <!-- Search Input -->
        <div class="search-container mb-3 position-relative">
            <input type="text" class="form-control pl-4" placeholder="Search by subject or code"
                [(ngModel)]="searchTerm" (input)="onSearch()">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>

    </div>
    <div>
        <a [routerLink]="'../exam/examform'" class="btn btn-primary button create">Create</a>
    </div>
    <div class="container">
        <div class="row">
            <!-- Card 1 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5" *ngFor="let exam of pagedExamList">
                <div class="card" (click)="getExamDetail(exam.id)">
                    <div class="card-image">
                        <img [src]="exam.subject.img?exam.subject.img:'https://i.pinimg.com/564x/33/34/66/333466cd07d18eae8c6546e298f2b9c7.jpg'"
                            alt="Quiz Thumbnail">
                        <!-- <img src="https://i.pinimg.com/564x/33/34/66/333466cd07d18eae8c6546e298f2b9c7.jpg"
                            alt="Quiz Thumbnail"> -->
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{exam.subject.name}}</span>
                        <p><strong>Code:</strong> {{exam.code}}</p>
                        <p style="font-size: x-small;">
                            <i class="fa-regular fa-clock"></i> {{exam.startTime}} - {{exam.endTime}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nút phân trang -->
        <div class="pagination">
            <a (click)="previousPage()" [class.disabled]="currentPage === 1">Previous</a>
            <span *ngFor="let page of pages" (click)="goToPage(page)" [class.current]="page === currentPage">{{ page }}</span>
            <a (click)="nextPage()" [class.disabled]="currentPage === totalPages">Next</a>
        </div>
        
    </div>
</div>