<!-- Dialog Popup -->
<div *ngIf="isVisible" class="dialog-popup">
    <div class="dialog-content">
        <h4 class="dialog-title"><b>{{ title }}</b></h4>
        <hr />
        <p [innerHTML]="message"></p>

        <!-- Đối với các popup xác nhận -->
        <div *ngIf="isConfirmationPopup">
            <button class="btn yes-button" (click)="confirmAction()">Yes</button>
            <button class="btn no-button" (click)="closePopup()">No</button>
        </div>

        <!-- Đối với những popup thông báo -->
        <div *ngIf="!isConfirmationPopup">
            <button class="btn close-button" (click)="closePopup()">Close</button>
        </div>
    </div>
</div>