.sem-container {
    display: flex;
    gap: 10px;
}

.sem-container .btn {
    border-radius: 8px;
    border: none;
    color: var(--color-text);
    font-size: 12px;
    padding: 6px 12px;
}

.sem-container .btn:hover {
    background-color: #e6e6e680;
    color: #000000;
}

.sem-container .btn.active {
    background-color: #e6e6e6;
    color: #000000;
    font-weight: bold;
}

#example th:nth-child(1),
#example td:nth-child(1) {
    width: 10%;
}

#example th:nth-child(3),
#example td:nth-child(3) {
    width: 20%;
}

.popup-container .popup-content.popup-subject {
    width: 500px;
}