<div class="content-wrapper" [ngClass]="{'content-wrapper-collapsed': subjectComponent.home.isSidebarCollapsed}">
    <h4>{{ subjectName }} / Add new Question</h4>
    <hr class="line">
    <form class="d-flex">
        <div id="question-forms">
            <div class="question-form">
                <div class="form-row">
                    <input type="hidden" [(ngModel)]="question.subjectId" name="question.subjectId" class="form-control" />
                    
                    <div class="form-group-row col me-3">
                        <label for="chapter">Chapter:</label>
                        <button type="button" class="form-select" style="text-align: left;" (click)="openPopup()">Choose Chapter</button>
                    </div>
                    <div class="form-group-row col me-0">
                        <label for="level">Level:</label>
                        <select class="form-select" [(ngModel)]="question.level.id" name="question.level.id">
                            <option *ngFor="let level of listLevel" [value]="level.id">{{ level.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group-row">
                    <label for="question">Question:</label>
                    <textarea class="form-control" [(ngModel)]="question.content" name="question.content" rows="3" style="flex-grow: 1"></textarea>
                </div>

                <div class="form-group form-image">
                    <div class="img-preview mt-3 mb-3" [ngClass]="{'hidden-border': question.imageFile}">
                        <input type="file" name="file" class="form-control-file" accept="image/*" (change)="previewImage($event)" />
                        <button *ngIf="!question.imageFile" class="choose-file-btn" type="button">Choose file</button>
                        <img id="imagePreview" src="../../../../../../img/banner.jpg" alt="Image Preview" style="display:none;" />
                
                        <!-- Dấu X để xóa ảnh -->
                        <span *ngIf="question.imageFile" class="remove-image" (click)="removeImage()"><b>x</b></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="answers-container">
                        <div *ngFor="let answer of question.answers; let i = index" class="input-group mb-2">
                            <div class="input-group-text">
                                <input type="checkbox" [(ngModel)]="answer.isCorrect" (change)="toggleIsCorrect(answer)" />
                            </div>
                            <input type="text" [(ngModel)]="answer.content" name="answer.content{{i}}" class="form-control" />
                            <span class="remove-answer" (click)="removeAnswer(i)">X</span>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <button type="button" class="add-answer" (click)="addAnswer()"><span class="mdi mdi-plus icon-button"></span> Another choice</button>
                </div>

                <div *ngIf="isPopupChapter" class="modal-backdrop" (click)="closePopup($event)">
                    <div class="modal-content" (click)="$event.stopPropagation()">
                        <div class="modal-header">
                            <span>Select Chapter</span>
                            <span class="close-icon" (click)="closePopup()">&times;</span>
                        </div>
                        <div class="modal-body">
                            <div class="form-chapter">
                                <div class="checkbox-group">
                                    <div class="checkbox-input" *ngFor="let chapter of listChapter">
                                        <input type="checkbox" (change)="toggleChapterSelection(popupChapterIndex, chapter.id, $event)" [checked]="question.chapters.includes(chapter.id)" id="chapter{{chapter.id}}" />
                                        <label for="chapter{{chapter.id}}">{{ chapter.name }}</label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary button" (click)="closePopup()">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-action">
            <button type="submit" class="mdi mdi-checkbox-marked-circle-outline icon-action" title="Save"></button>
            <button type="button" class="mdi mdi-close-circle-outline icon-action" title="Cancel" (click)="cancel()"></button>
        </div>
    </form>
</div>

<div *ngIf="isCancelPopup" class="modal-backdrop-confirm" (click)="closePopup($event)">
    <div class="modal-content-confirm" (click)="$event.stopPropagation()">
        <div class="modal-header-confirm">
            <span>Are you sure?</span>
            <span class="close-icon" (click)="closePopup($event)">&times;</span>
        </div>
        <div class="modal-body-confirm">
            <p>Are you sure you want to cancel? Any unsaved changes will be lost.</p>
        </div>
        <div class="modal-footer-confirm">
            <button type="button" class="btn btn-primary button button-yes" (click)="confirmCancel()">Yes</button>
            <button type="button" class="btn btn-secondary button button-no" (click)="closePopup($event)">No</button>
        </div>
    </div>
</div>