.sem-container {
    display: flex;
    gap: 10px;
}

.sem-container .btn {
    border-radius: 8px;
    border: none;
    color: var(--color-text);
    font-size: 12px;
    padding: 6px 12px;
}

.sem-container .btn:hover {
    background-color: #e6e6e680;
    color: #000000;
}

.sem-container .btn.active {
    background-color: #e6e6e6;
    color: #000000;
    font-weight: bold;
}