/* Body */
.content-wrapper {
    padding: 0 20px;
    margin: 20px 0 60px 150px;
    min-height: 80vh;
    overflow-x: hidden;
    transition: margin-left 0.3s ease;
}

.content-wrapper-collapsed {
    margin-left: 30px;
}

.line {
    margin-top: 0;
}

#question-forms {
    width: 100%;
    margin-right: 50px;
}

.question-form {
    border: 1px solid #dddddd8b;
    padding: 10px;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    /* Khoảng cách giữa các hàng */
}

.form-group-row {
    display: flex;
    align-items: center;
    /* Căn chỉnh các phần tử theo chiều dọc */
}

.form-group-row label {
    margin-right: 10px;
}

.form-group-row .label-fix {
    min-width: 75px;
}

.form-group-row input,
.form-group-row select {
    flex: 1;
    /* Để các input và select chiếm không gian còn lại */
    height: calc(1.5em + 0.75rem + 2px);
    /* Đảm bảo chiều cao của input và select giống như label */
}

.form-select-chapter, .form-select-level {
    width: 50%;
}

.button-chapter {
    width: 100%;
    white-space: nowrap; /* Ngăn không cho nội dung xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá chiều rộng của nút */
    text-overflow: ellipsis; /* Hiển thị "..." khi nội dung bị cắt */
}

.contentError {
    margin-left: 85px;
}

.answersError {
    margin-left: 35px;
}

.img-preview {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.img-preview.hidden-border {
    border: none; /* Ẩn border */
}

.img-preview input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.img-preview img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.remove-image {
    position: absolute;
    top: 5px; /* Điều chỉnh theo vị trí mong muốn */
    right: 5px; /* Điều chỉnh theo vị trí mong muốn */
    width: 20px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    color: red;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    z-index: 10; /* Đảm bảo dấu X nằm trên các phần tử khác */
}

.choose-file-btn {
    background-color: #aa1210;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 0;
    position: relative;
}

#imagePreview {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.answers-container .input-group {
    position: relative;
}

.answers-container .input-group .input-group-text {
    background-color: unset;
    border: none;
    padding: 12px;
}

.answers-container .input-group input[type="text"] {
    padding-right: 30px;
    /* Để tạo không gian cho dấu X */
}

.answers-container .input-group .remove-answer {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aa1210;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.5);
    /* Tăng kích thước của radio và checkbox */
}

.add-answer, .remove-question {
    color: var(--color-text);
    font-size: 16px;
    border: none;
    background-color: unset;
    text-align: center;
}

.add-answer:hover {
    color: green;
}

.remove-question:hover {
    color: rgb(225, 10, 10);
}

.icon-button {
    font-size: 18px;
}

.btn-action {
    position: fixed;
    right: 20px;
    width: 40px;
    height: 115px;
    border: 1px solid #dddddd8b;
    text-align: center;
}

.btn-action .icon-action {
    color: var(--color-text);
    font-size: 24px;
    background-color: unset;
    border: none;
    cursor: pointer;
}


/* Popup Container */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-container .popup-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-height: 80vh;
    background-color: var(--color-background);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    border-radius: 8px;
}

.popup-container .popup-content .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #aa1210;
    border-radius: 8px 8px 0 0;
    padding: 15px;
}

.popup-container .popup-content .popup-body {
    background-color: var(--color-background);
    padding: 0 20px;
    overflow-y: auto;
}

.popup-container .popup-content .popup-footer {
    padding: 10px;
    background-color: var(--color-background);
    border-radius: 0px 0px 8px 8px;
}

.popup-container .popup-content .search-container {
    position: relative;
    margin: 10px;
}

.popup-container .popup-content .popup-header
.close-icon {
    font-size: 24px;
    cursor: pointer;
}

.popup-container .popup-content .search-container
.search-input {
    width: 100%;
    padding: 8px 33px 8px 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.popup-container .popup-content .search-container
.search-input:focus {
    outline: none;
    border-color: #aa1210;
}

.popup-container .popup-content .search-container
.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
    pointer-events: none;
}

.popup-container
.popup-content
.popup-body
.form-chapter input[type="checkbox"] {
    margin-right: 10px;
}

.popup-container
.popup-content
.popup-body
.form-chapter .checkbox-input {
    margin-bottom: 10px;
}

.popup-container .popup-content .popup-footer
.button {
    width: 100px;
}


/* Dialog Popup */
.dialog-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog-popup .dialog-content {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 450px; /* Đặt chiều rộng để có kích thước hợp lý */
}

.dialog-popup .dialog-content button {
    margin: 10px;
    width: 100px; /* Đặt chiều rộng cho button */
}

.dialog-popup .dialog-content .yes-button {
    color: white;
    background-color: green;
}

.dialog-popup .dialog-content .no-button {
    color: white;
    background-color: #aa1210;
}