<div class="content-wrapper">
    <!-- <h4 *ngIf="_flag==0">{{_subjectName}}/Update Question</h4>
    <h4 *ngIf="_flag==1">{{_subjectName}}/Add new Question</h4> -->
    <h4>Add new Question</h4>
    <hr class="line">
    <div class="d-flex">
        <div class="chapter">
            <div>
                Subject
            </div>
        </div>
        <div class="btn-action">
            <div class="icon-action">
                <span class="mdi mdi-plus-circle-outline"></span>
            </div>
            <div class="icon-action">
                <span class="mdi mdi-checkbox-marked-circle-outline"></span>
            </div>
            <div class="icon-action">
                <span class="mdi mdi-close-circle-outline"></span>
            </div>
        </div>
    </div>
</div>