<div class="content-wrapper">
    <!-- <h4 *ngIf="_flag==0">{{_subjectName}}/Update Question</h4>
    <h4 *ngIf="_flag==1">{{_subjectName}}/Add new Question</h4> -->
    <h4>Add new Question</h4>
    <hr class="line">
    <div class="d-flex">
        <div class="chapter">
            <!-- Bottom Actions  -->
            <div class="bottom-actions m-2">
                <!-- <div class="search-container d-flex">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div> -->
            </div>
            <div class="m-2 mt-4">
                <div class=" collapse add-chapter mt-5" id="addChapter">
                    <form method="post">
                        <div class="add">
                            <div class="row mb-3 align-items-center ">
                                <label for="subject" class="col-sm-2 col-form-label">Subject:</label>
                                <div class="col-sm-10">
                                    <select id="subjectId" name="subjectId" class="form-select">
                                        <option selected>A</option>
                                        <option selected>B</option>
                                        <option selected>C</option>
                                        <!-- Add more options as needed
                                         <option [value]="sub.id" *ngFor="let sub of subjects">{{sub.name}}
                                        </option> -->
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3 align-items-center">
                                <label for="chapter" class="col-sm-2 col-form-label">Chapter New:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 offset-sm-5">
                                    <button type="submit" class="btn btn-danger me-2">Save</button>
                                    <span class="btn cancel-btn">Cancel</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class=" collapse add-chapter mt-5" id="updateChapter">
                    <form>
                        <div class="add">
                            <div class="row mb-3 align-items-center ">
                                <label for="subject" class="col-sm-2 col-form-label">Subject:</label>
                                <div class="col-sm-10">
                                    <select id="subject" name="_chapter.subject.id" class="form-select">
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3 align-items-center">
                                <label for="chapter" class="col-sm-2 col-form-label">Chapter New:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="chapter" name="_chapter.name" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 offset-sm-5">
                                    <button type="submit" class="btn btn-danger me-2">Save</button>
                                    <span class="btn cancel-btn">Cancel</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="btn-chapter">
            <div>
                <span class="mdi mdi-plus-circle-outline"></span>
            </div>
            <div>
                <span class="mdi mdi-checkbox-marked-circle-outline"></span>
            </div>
            <div>
                <span class="mdi mdi-close-circle-outline"></span>
            </div>
        </div>
    </div>
</div>